<% layout("../layout/index") -%>
<% block("title", "ON STORES | Minhas Sacola | Aguardando pagamento"); -%>

<body id="login">

<div class="full">      

    <div>

    <!---mosrar o passo a passo quando estiver comprando--->

    	<nav class="rota">

        	<a href="" class="rts">
            	<span>1</span><br>
                Minha Sacola
            </a>

            <a href="" class="rts">
            	<span>2</span><br>
                Identificação
            </a>

            <a href="" class="rts">
            	<span>3</span><br>
                Pagamento
            </a>

            <a href="" class="rts ativo">
            	<span>4</span><br>
                Confirmação
            </a>            

        </nav>
     
    </div>
	<div class="clear"></div>


  <div class="confirmacao">

       <!-----------quando a compra for aprovada---------------->
	  
	  <div id="confirmation">
      	<h1 style="font-size:27px">Olá, <%=nome%>, seu pedido foi enviado para análise!</h1>
      	<h3>Em breve enviaremos um e-mail para informar se sua compra foi aprovada. Enquanto isso, confira os detalhes do seu pedido.</h3>
      </div><!--confirmation-->      

      <!---detalhes do pedido---->

      <div class="area" style="width:100%; margin:0; display:None">        

        <h2>Detalhe do Pedido</h2>
   	

      	<section style="border:none" class="overflow">        

        <table class="det">

             <tr>
                <th>
                	<span>Pedido</span>
                	<br>
                  	<strong>#<%=pedido%> </strong>
                </th>
                <th>&nbsp;</th>
                <th colspan="5" rowspan="3" align="center" valign="middle">
                <p align="center"><img src="/compras/detalhes/qrcode/<%=pedido%>" width="155" height="170"></p>
                </th>
            </tr>
             <tr>
                <td><span>Data</span><br><%=moment().format('DD-MM-YYYY')%></td>
                <td><span>Horario de retirada</span><br> 15:00hs</td>
            </tr>
            <tr>
                <td>
				<span>Forma de pagamento</span><br> 				
				<%=pagarme.tipo%><br/><br/>				
				<%
				if (pagarme.tipo == "Cartão de Crédito"){
				%>
				<span>Bandeira:</span> <br/> <%=pagarme.bandeira%> 
				<%=pagarme.cartao_comeco%>****<%=pagarme.cartao_fim%><br/><br/>
				<%
				} else {
				%>
				<span>Vencimento:</span> <br/><%=moment(pagarme.boleto_vencimento).format('DD-MM-YYYY')%><br/>
				<%
				}
				%>				
				</td>
                <td><span>Token</span><br>  000 000 000 </td>
                </tr>
             <tr>

                <td colspan="7">
                <div></div>
                </td>
              </tr>
              <tr>
                <td colspan="7"><b>Itens comprados</b></td>
              </tr>
			<% 
			if (resultados.length>0){
			resultados.forEach(function(resultado) { 
			%> 	
              <tr class="lin">
                <td><%=resultado.produto%></td>
                <td><%=resultado.shopping%></td>
                <td><%=resultado.loja%></td>
                <td>
				<%
				if (resultado.cor != ""){
				%>
				Cor: <span class="colorBtn" style="background:#333" data-cor="<%=resultado.cor%>">&nbsp;&nbsp;&nbsp;</span><br>				
				<%
				} 
				%>
				</td>
                <td>
				<%
				if (resultado.tamanho != ""){
				%>
				Tamanho <%=resultado.tamanho%> <br/>
				<%
				} 
				%>
				</td>
                <td>0<%=resultado.qtde%> Unidade(s)</td>
                <td>R$ <%=resultado.total%></td>
              </tr>
			<% 
			}); 
			}
			%>	
            
        </table>

        

       <div class="clear"></div>

        </section>

      

      </div><!--area-->

 

  </div><!--sou cliente-->


</div><!--full-->


<script src="/js/colorpicker/eight-bit-color-picker.js"></script>
<script type="text/javascript">
$(function(){
	const colors = EightBitColorPicker.getDefaultPalette();
	$('.colorBtn').each(function(){
		$(this).css('background-color', colors[parseInt($(this).attr("data-cor"))]);
	});
});		
</script>

