 <div class="full"> 
		<script src="https://assets.pagar.me/checkout/checkout.js"></script>
		<script src="/js/jquery.min.js"></script>
        <button id="pay-button" style="display:none">Abrir modal de pagamento</button>
        <script>
            $(document).ready(function() {
				
                var button = $('#pay-button');

                button.click(function() {
                    // INICIAR A INSTÂNCIA DO CHECKOUT
                    // declarando um callback de sucesso
                    var checkout = new PagarMeCheckout.Checkout({"encryption_key":"ek_test_E8SxpgBoEr1GBBWiXXcVHP4mIiShsw", success: function(data) {
                        console.log(data);
                        //Tratar aqui as ações de callback do checkout, como exibição de mensagem ou envio de token para captura da transação
                    }, 
					error: function (error){
						console.log(error);
					}});

                    // DEFINIR AS OPÇÕES
                    // e abrir o modal
                    // É necessário passar os valores boolean em "var params" como string
                    var params = {"customerData":"false", "amount":"<%=total_carrinho%>", "createToken": "true", "interestRate": 0, "postbackUrl":"", "customerName":"<%=cliente.nome%> <%=cliente.sobrenome%>", "customerDocumentNumber":"<%=cliente.CPF%>", "customerEmail":"<%=cliente.email%>", "customerAddressStreet":"<%=endereco.rua%>", "customerAddressStreetNumber":"<%=endereco.numero%>", "customerAddressComplementary":"<%=endereco.complemento%>", "customerAddressNeighborhood":"<%=endereco.bairro%>", "customerAddressCity":"<%=endereco.cidade%>", "customerAddress-State":"<%=endereco.estado%>", "customerAddressZipcode":"<%=endereco.cep%>", "customerPhoneDdd":"<%=cliente.ddd%>", "customerPhoneNumber":"<%=cliente.telefone%>","disableZeroDocumentNumber":"true", "freeInstallments":"0", "defaultInstallment":"1",
                      
					  //Texto mostrado no botão de pagamento.
					  "buttonText":"Pagar",
                      //Meios de pagamento disponíveis no Checkout.
					  "paymentMethods":"boleto,credit_card",
                       //numero de parcelas
					  "maxInstallments":6,
                      //Cor primária da interface de Checkout.
					  "uiColor":"#9429ff",
					  //Define o texto do cabeçalho.
                      "headerText":"Insira os dados do seu cartão de crédito",
					  //bandeiras que vamos aceitar
					  "card_brands":"elo, amex, diners, hipercard, visa, mastercard"


					
					};
                    checkout.open(params);
					
                });
				
					setTimeout(function() {
						$("#pay-button").trigger('click');
						},2000);
				
            });
        </script>
        
        </div>