<!doctype html>

<html lang="pt-BR">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta http-equiv="X-UA-Compatible" content="IE=5; IE=8; IE=7; IE=9; IE=10; IE=11" >

<title>ON STORES | Carrinho </title>

<meta name="description" content="ON STORES - O Market Place da CCP para você!"/>
<link href="/css/estilo.css" rel="stylesheet" type="text/css" />
<meta name="keywords" content="" />

<link rel="shortcut icon" href="favicon.ico">

<link rel=canonical href="http://www.onstores.com.br/"/>
		<script src="https://assets.pagar.me/checkout/checkout.js"></script>
		<script src="/js/jquery.min.js"></script>
       
        <script>
			function finalizar(data){
				var temp = data;
				var token = temp.token;
				var tipo = temp.payment_method;
				$.ajax({
				  type: 'POST',
				  url: '/pagamento/gravar',
				  dataType : 'json',
				  data: { 
					'token': token, 
					'tipo': tipo, 
					'_csrf': '<%= csrfToken %>'
				  },
				  success: function (response) {
					window.location.href = "/pagamento/finalizar";
				  },
				  error: function () {
					window.location.href = "/erro/500";
				  }
			   });
			}  
		
            $(document).ready(function() {
				
                var button = $('#pay-button');

                button.click(function() {
                    // INICIAR A INSTÂNCIA DO CHECKOUT
                    // declarando um callback de sucesso
                    var checkout = new PagarMeCheckout.Checkout({"encryption_key":"ek_test_E8SxpgBoEr1GBBWiXXcVHP4mIiShsw", success: function(data) {
						finalizar(data);
						//var retorno = temp.token;
						//var tipo = temp.payment_method;
					    //window.location.href = "/pagamento/finalizar";
                    }, 
					error: function (error){
						console.log(error)
					}});

                    // DEFINIR AS OPÇÕES
                    // e abrir o modal
                    // É necessário passar os valores boolean em "var params" como string
                    var params = {"customerData":"false", "amount":"<%=total_carrinho%>", "createToken": "true", "interestRate": 0, "postbackUrl":"", "customerName":"<%=cliente.nome%> <%=cliente.sobrenome%>", "customerDocumentNumber":"<%=cliente.CPF%>", "customerEmail":"<%=cliente.email%>", "customerAddressStreet":"<%=endereco.rua%>", "customerAddressStreetNumber":"<%=endereco.numero%>", "customerAddressComplementary":"<%=endereco.complemento%>", "customerAddressNeighborhood":"<%=endereco.bairro%>", "customerAddressCity":"<%=endereco.cidade%>", "customerAddress-State":"<%=endereco.estado%>", "customerAddressZipcode":"<%=endereco.cep%>", "customerPhoneDdd":"<%=cliente.ddd%>", "customerPhoneNumber":"<%=cliente.telefone%>","disableZeroDocumentNumber":"true", "freeInstallments":"0", "defaultInstallment":"1",
                      
					  //Texto mostrado no botão de pagamento.
					  "buttonText":"Pagar",
                      //Meios de pagamento disponíveis no Checkout.
					  "paymentMethods":"boleto,credit_card",
                       //numero de parcelas
					  "maxInstallments":6,
                      //Cor primária da interface de Checkout.
					  "uiColor":"#9429ff",
					  //Define o texto do cabeçalho.
                      "headerText":"Insira os dados do seu cartão de crédito",
					  //bandeiras que vamos aceitar
					  "card_brands":"elo, amex, diners, hipercard, visa, mastercard"


					
					};
                    checkout.open(params);
					
                });
				
					//setTimeout(function() {
					//	$("#pay-button").trigger('click');
					//	},2000);
				
            });
        </script>
        
<style type="text/css">
.adicionar_carrinho {	background-color: #9966CC; padding:10px 10px;   margin-top:13%; float:right; color:#fff; border:none; 	font-size: 18px; width:100%; height:60px;	font-style: italic; 	font-weight: bold; 	font-family: Lora;}
</style>
</head>

<body id="carrinho">



	<div class="full">

    	

        <header> 

    		<div id="titcar">Finalizar Compra <img src="/imagens/bag.png" width="60" height="35"></div>

    		

            	<nav class="rota">

                    <a href="" class="rts">

                        <span>1</span><br>

                        Minha Sacola

                    </a>

                    <a href="" class="rts ">

                        <span>2</span><br>

                        Identificação

                    </a>

                    <a href="" class="rts  ativo">

                        <span>3</span><br>

                        Pagamento

                    </a>

                    <a href="" class="rts">

                        <span>4</span><br>

                        Confirmação

                    </a>            

                </nav>

                

    	</header>

			

            





	<table class="sacola">

      <tr>

        <th>Produto</th>

        <th>Shopping</th>

        <th>Quantidade</th>

        <th>Valor Unitário</th>

        <th>Total</th>

      </tr>
	  
	<% 
	if (carrinho.length>0){
		carrinho.forEach(function(resultado) { 
	%> 

      <tr>

        <td>

        	

            <img src="/imagens/<%=resultado.imagem%>" width="150" height="104">

        	<div class="carprod">

                <h3><%=resultado.produto%></h3>

                <span><%=resultado.loja%></span>

                <div class="valorcar">
					<%
					if (resultado.de == resultado.por) {
					%>
					<span>R$ <%=resultado.por%></span>
					<%
					} else {
					%>
                    <span>De R$ <%=resultado.de%></span>
					<span>Por <%=resultado.por%></span>
					<%
					}
					%>
                </div>

            </div>

        </td>

        <td>

            <img src="/imagens/icon-location.jpg" width="37" height="37">

            <%=resultado.shopping%>

        </td>

        <td>

            <div class="qtdcar">
                <input type="text" value=" <%=resultado.qtde%> " maxlength="2" readonly=readonly>
             </div>

        </td>

        <td>

        	<input type="text" value="<%=resultado.por%>" readonly=readonly>

        </td>

        <td>

        	<input type="text" value=" <%=resultado.total%>"  readonly=readonly>
        </td>

      </tr>

    <% 
	}); 
	} else {
	%>	
	<tr>
		<td colspan="5" align="center">
			Não existem produtos em seu carrinho
		</td>
	</tr>
	<%
	}
	%>

	</table>

    <div class="clear"></div>

    
	
     <section class="avisocar">

        <h3>Importante</h3>

        <p>Lembre-se que após a compra, você deverá retirar os itens adquiridos  diretamente na loja do shopping.  Seu pedido estará disponível  para retirada em 30 minutos  após  a confirmação  de seu pagamento.</p>

       

     </section><!--aviso-->
	    

    <div class="total">

    	<label>VALOR TOTAL</label>

        <input type="text" value="R$ <%=total_exibir%>" readonly disabled >

        
		
		<button id="pay-button" class="adicionar_carrinho">Finalizar Compra</button>
		
    </div>

    



</div>





</body>

</html>