<!doctype html>
<html lang="pt-BR">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=5; IE=8; IE=7; IE=9; IE=10; IE=11" >
		<title>ON STORES | Endereço  </title>
		<meta name="description" content="ON STORES - O Market Place da CCP para você!"/>
		<meta name="keywords" content="" />
		<link rel="shortcut icon" href="favicon.ico">
		<link rel=canonical href="http://www.onstores.com.br/"/>
		<link href="/css/estilo.css" rel="stylesheet" type="text/css" />
		<script src="/js/jquery.min.js"></script>
		<script src="/js/ccp.js"></script>
		<script src="/js/jquery.maskedinput.2015.js"></script>
		<script type="text/javascript">
		function validar_cep(CEP){
			$.ajax({
			  type: 'POST',
			  url: '/pagamento/cep',
			  dataType : 'json',
			  data: { 
				'cep': CEP, 
				'_csrf': '<%= csrfToken %>'
			  },
			  success: function (response) {
			    var resposta = JSON.parse(response);
			    if (resposta.zipcode == null){
					alert('O CEP informado não foi localizado');
					document.formEnd.endereco.readOnly = true;
					document.formEnd.bairro.readOnly = true;
					document.formEnd.endereco.value = '';
					document.formEnd.bairro.value = '';
					document.formEnd.cidade.value = '';
					document.formEnd.estado.value = '';
				} else {
					if (resposta.street == null){
						document.formEnd.cidade.value = resposta.city;
						document.formEnd.estado.value = resposta.state;
						document.formEnd.endereco.readOnly = false;
						document.formEnd.bairro.readOnly = false;
					} else {
						document.formEnd.endereco.readOnly = true;
						document.formEnd.bairro.readOnly = true;
						document.formEnd.endereco.value = resposta.street;
						document.formEnd.bairro.value = resposta.neighborhood;
						document.formEnd.cidade.value = resposta.city;
						document.formEnd.estado.value = resposta.state;
					}
				}
			  },
			  error: function () {
				alert("Desculpe, não foi possível pesquisar este CEP");
				document.formEnd.endereco.readOnly = true;
				document.formEnd.bairro.readOnly = true;
				document.formEnd.endereco.value = '';
				document.formEnd.bairro.value = '';
				document.formEnd.cidade.value = '';
				document.formEnd.estado.value = '';
			  }
		   });
		}  
		</script>
	</head>
<body id="login">



<div class="full">  

    

    <header>

   

   	<!---mosrar quando nao estiver comprando--->

    <div id="titcar">Pagamento <img src="/imagens/bag.png" width="60" height="35"></div>

    

    <!---mosrar o passo a passo quando estiver comprando--->

    	<nav class="rota">

        	<a href="" class="rts">

            	<span>1</span><br>

                Minha Sacola

            </a>

            <a href="" class="rts">

            	<span>2</span><br>

                Identificação

            </a>

            <a href="" class="rts ativo">

            	<span>3</span><br>

                Pagamento

            </a>

            <a href="" class="rts">

            	<span>4</span><br>

                Confirmação

            </a>            

        </nav>

        

    </header>

    

	<div class="clear"></div>



	<div class="endereco">

        <h1>Endereço</h1>

        <form name="formEnd" action="/pagamento/dados" method="POST" autocomplete="off"  onSubmit="return checkform_endereco_pagamento(this);">

          

          <div class="campos20">

          	<input type="text" value="<%=endereco.cep%>"  placeholder="CEP" name="CEP" maxlength="8" onkeypress="return isNumberKey(event)" onblur="validar_cep(this.value);">

          </div>

          <div class="campos60">

          	<input type="text" value="<%=endereco.rua%>" placeholder="Rua" name="endereco" readonly="true">

          </div>

           <div class="campos20">

          	<input type="text" value="<%=endereco.numero%>" placeholder="Número" name="numero">

          </div>

           <div class="campos20">

          	<input type="text" value="<%=endereco.complemento%>" placeholder="Complemento" name="complemento">

          </div>

           <div class="campos30">

          	<input type="text" value="<%=endereco.bairro%>" placeholder="Bairro" name="bairro" readonly="true">

          </div>

          <div class="campos30">

          	<input type="text" value="<%=endereco.cidade%>" placeholder="Cidade" name="cidade" readonly="true">

          </div>         

           <div class="campos20">

          	<input type="text" value="<%=endereco.estado%>" placeholder="UF" name="estado" maxlength="2" readonly="true">

          </div>         

          

          <div class="clear"></div><br>

          <h1>Pagamento</h1>

          <div class="campos30" style="text-align:left">

            <input type="checkbox" id="c1" name="aceite">

            <label for="c1">

            Estou ciente que devo retirar a compra diretamente nas lojas dos shoppings que comprei.

            </label>

            </div>

            

             <section class="avisocar">

                <h3>Importante</h3>

                <p>Lembre-se que após a compra, você deverá retirar os itens adquiridos  diretamente na loja do shopping.  Seu pedido estará disponível  para retirada em 30 minutos  após  a confirmação  de seu pagamento.</p>

  

             </section><!--aviso-->

         

        	 <div class="clear"></div><br>

           

             <div class="finaliza"> 

                <label>VALOR TOTAL</label>

                <input type="text" value=" R$ <%=total%>" readonly disabled >

                

                <input type="submit" value=" Realizar pagamento ">   
				<input type="hidden" name="_csrf" value="<%= csrfToken %>">	
              </div>

          

        </form>

    </div><!--endereco-->

    

    

    

</div><!--full-->





</body>

</html>