<!doctype html>

<html lang="pt-BR">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta http-equiv="X-UA-Compatible" content="IE=5; IE=8; IE=7; IE=9; IE=10; IE=11" >

<title>ON STORES | Confirmação de pedido  </title>

<meta name="description" content="ON STORES - O Market Place da CCP para você!"/>

<meta name="keywords" content="" />

<link rel="shortcut icon" href="favicon.ico">

<link rel=canonical href="http://www.onstores.com.br/"/>

	

<link href="/css/estilo.css" rel="stylesheet" type="text/css" />
<script src="/js/jquery.min.js"></script>
<script src="/js/ccp.js"></script>
<script src="/js/jquery.maskedinput.2015.js"></script>
<style type="text/css">
.adicionar_carrinho {	background-color: #9966CC; padding:10px;   margin-top:13%; float:right; color:#fff; border:none; 	font-size: 18px; width:100%; height:60px;	font-style: italic; 	font-weight: bold; 	font-family: Lora;}
</style>
</head>



<body id="login">



<div class="full">  

    

    <header>



    <!---mosrar o passo a passo quando estiver comprando--->

    	<nav class="rota">

        	<a href="" class="rts">

            	<span>1</span><br>

                Minha Sacola

            </a>

            <a href="" class="rts">

            	<span>2</span><br>

                Identificação

            </a>

            <a href="" class="rts">

            	<span>3</span><br>

                Pagamento

            </a>

            <a href="" class="rts ativo">

            	<span>4</span><br>

                Confirmação

            </a>            

        </nav>

        

    </header>

    

	<div class="clear"></div>



  <div class="confirmacao">



       
	   <!---
       <div id="erro">

   	 		<img src="/imagens/pena.jpg" width="78" height="77">

          	<h2>Ops...</h2>

            <h3>O pagamento não foi<br> realizado.</h3> 

            <p>Motivo da recusa</p>

      </div>
	  --->
	   	
      

      

      <!-----------quando a compra for aprovada---------------->

      

      <div id="confirmation">

      	<h1>Oba!</h1>

      	 <h2>Seus produtos estarão disponíveis para serem retirados na loja nos próximos 30 minutos.</h2>

      	<h3>*Uma cópia dos detalhes da sua compra foi enviada para <strong><%=email%></strong>. Você também pode acessá-los através da sua <a href="/compras/detalhes/<%=pedido%>"> <strong>Área de Cliente</strong></a>.</h3>

      

          <div class="box order">

            <p>

                <span><%=pedido%></span>

                Número do pedido        	

            </p>

            <b>1. Para receber a compra, apresente  o número do seu pedido na loja.</b>      

          </div><!--order-->

          

          <div class="box token">

      

            <div class="campos60">

                <p>

                    <span><%=pgtk%></span>

                   Token     	

                </p>

                <b>2. Após revisar o seu pedido, informe o token para confirmar a compra.</b>  

            </div> 

            

            <div class="campos30" style="float:right">

                <div class="qrcode">qrcode
					<img src="/imagens/qrcode.jpg" class="img">
                    <!--<img src="/compras/detalhes/qrcode/<%=pedido%>" class="img">-->

                    <div class="clear"></div>

                    Você também pode retirar sua compra com este QRCODE

                </div>

            </div>  

        

      	</div><!--token-->

<div class="campos40">     
	 <input type="button" class="adicionar_carrinho"  value="Continuar Comprando" onclick="window.top.location.href='/lojas/loja-online'">
</div>
      </div><!--confirmation-->

      

      <!---detalhes do pedido---->

      <div class="area" style="width:100%; margin:0; display:None">        

        <h2>Detalhe do Pedido</h2>

   	

      	<section style="border:none">        

        <table class="det">

             <tr>

                <th>

                	<span>Pedido</span>

                	<br>

                  	<strong>#<%=pedido%> </strong>

                </th>

                <th>&nbsp;</th>

                <th colspan="5" rowspan="3" align="center" valign="middle">

                <p align="center"><img src="/compras/detalhes/qrcode/<%=pedido%>" width="155" height="170"></p>

                </th>

            </tr>

             <tr>

                <td><span>Data</span><br><%=moment().format('DD-MM-YYYY')%></td>

                <td><span>Horario de retirada</span><br> 15:00hs</td>

            </tr>

            <tr>

                <td>
				<span>Forma de pagamento</span><br> 
				
				<%=pagarme.tipo%><br/><br/>
				
				<%
				if (pagarme.tipo == "Cartão de Crédito"){
				%>
				<span>Bandeira:</span> <br/> <%=pagarme.bandeira%> 
				<%=pagarme.cartao_comeco%>****<%=pagarme.cartao_fim%><br/><br/>
				<%
				} else {
				%>
				<span>Vencimento:</span> <br/><%=moment(pagarme.boleto_vencimento).format('DD-MM-YYYY')%><br/>
				<%
				}
				%>
				
				</td>

                <td><span>Token</span><br>  000 000 000 </td>

                </tr>

             <tr>

                <td colspan="7">

                <div></div>

                </td>               

              </tr>

              <tr>

                <td colspan="7"><b>Itens comprados</b></td>

              </tr>
			<% 
			if (resultados.length>0){
			resultados.forEach(function(resultado) { 
			%> 	
              <tr class="lin">

                <td><%=resultado.produto%></td>

                <td> <%=resultado.shopping%></td>

                <td>FARM</td>

                <td>Cor Azul</td>

                <td>Tamanho P</td>

                <td>0<%=resultado.qtde%> Unidade(s)</td>

                <td>R$ <%=resultado.total%></td>

              </tr>
			<% 
			}); 
			}
			%>	
            
        </table>

        

       <div class="clear"></div>

        </section>

     

      

      

      </div><!--area-->

       

       

       

  </div><!--sou cliente-->

    

    

    

</div><!--full-->





</body>

</html>