<% layout("../layout/index") -%>
<% block("title", "Informações"); -%>

<style type="text/css">
	 #map{
		margin: 0;
		padding: 0;
		height: 400px;
		width:100%
	}
</style>

<div class="full">
    
        <aside class="sembanner">
        	<h1 class="titles">
        		<span class="tgrey" style="left:16%">Informações</span>
        	</h1>
        </aside> <!--banner-->
  
	  <article id="informacoes">
        	
			<%	if (shopping ==  "shopping_cidade_sao_paulo"){ 	%>       
				<%-partial("scsp")%>
			<%	}	%>
			
			<%	if (shopping ==  "grand_plaza_shopping"){ 	%>       
				<%-partial("gps")%>
			<%	}	%>
			
			<%	if (shopping ==  "tiete_plaza_shopping"){ 	%>       
				<%-partial("tps")%>
			<%	}	%>
			
			<%	if (shopping ==  "shopping_cerrado"){ 	%>       
				<%-partial("sc")%>
			<%	}	%>
			
			<%	if (shopping ==  "shopping_metropolitano_barra"){ 	%>       
				<%-partial("smb")%>
			<%	}	%>
			
			<%	if (shopping ==  "shopping_d"){ 	%>       
				<%-partial("sd")%>
			<%	}	%>
        
       
   <div class="clear"></div>
   </div><!--contato--> 
        
  </article><!--informaçoes-->

 </div><!--full-->