<% layout("../layout/index") -%>
<% block("title", "Informações"); -%>
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyB4W0beWSv874W8nxqFIrcH1qGE8NloZ_Q&sensor=false&callback=initialize"></script>
		<script type="text/javascript">
		
		var gmarkers = []; 
		
		function load(latitude, longitude) {
		  var myLatlng = new google.maps.LatLng(latitude, longitude);
		  var mapOptions = {
			center: myLatlng,
			zoom: 16,
			mapTypeId: google.maps.MapTypeId.ROADMAP,
			mapTypeControl: true,
			mapTypeControlOptions: {
				style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
				position: google.maps.ControlPosition.BOTTOM_CENTER
			},
			panControl: true,
			panControlOptions: {
				position: google.maps.ControlPosition.TOP_RIGHT
			},
			zoomControl: true,
			zoomControlOptions: {
				style: google.maps.ZoomControlStyle.LARGE,
				position: google.maps.ControlPosition.LEFT_CENTER
			},
			scaleControl: true,
			scaleControlOptions: {
				position: google.maps.ControlPosition.TOP_LEFT
			},
			streetViewControl: true,
			streetViewControlOptions: {
				position: google.maps.ControlPosition.LEFT_TOP
			}
		  };
		  map = new google.maps.Map(document.getElementById('map'), mapOptions);
		  var infoWindow = new google.maps.InfoWindow;
		  var point = new google.maps.LatLng(latitude, longitude);
		  var html = "*";
		  var icon = 'http://labs.google.com/ridefinder/images/mm_20_red.png';
		  var shadow = 'http://labs.google.com/ridefinder/images/mm_20_shadow.png';
		  var marker = new google.maps.Marker({
				map: map,
				position: point,
				icon: icon,
				shadow: shadow
			  });
		  bindInfoWindow(marker, map, infoWindow, html);
			  
		  
		  
		}
		
		function bindInfoWindow(marker, map, infoWindow, html) {
		  google.maps.event.addListener(marker, 'click', function() {
			infoWindow.setContent(html);
			infoWindow.open(map, marker);
		  });
		  gmarkers.push(marker);
		}
		
		function myclick(i) {
			google.maps.event.trigger(gmarkers[i], "click");
		}
		$(document).ready(function() {
		  load(<%=resultados.client.position.latitude%>, <%=resultados.client.position.longitude%>);	
		});
</script>
<style type="text/css">
	 #map{
		margin: 0;
		padding: 0;
		height: 400px;
		width:100%
	}
</style>

<div class="full">
    
        <aside class="sembanner">
        	<h1 class="titles">
        		<span class="tgrey" style="left:16%">Informações</span>
        	</h1>
        </aside> <!--banner-->
  
	  <article id="informacoes">
        	
         <section class="history">
         
       	  	<img src="/imagens/fachada-shopping.jpg" class="img">
            
            <h2>História do <%=resultados.client.name%></h2>
            <%=resultados.client.about%>
            
         </section><!--history-->
        
        <div class="funcionamento">
        	<h3>Horários de Funcionamento</h3>
           
           <!--esta tabela é fixa e nao se repete--->
            <table class="fnc">
              <tr>
                <th>Lojas</th>
                <th>Horário</th>
              </tr>
              <tr>
                <td>Seguna à Sábado</td>
                <td>10:00 - 22:00 hrs</td>
              </tr>
              <tr>
                <td>Domingos e Feriados</td>
                <td>14:00 - 20:00 hrs</td>
              </tr>
            </table>
            
             <!--esta tabela é fixa e nao se repete--->
             <table class="fnc">
              <tr>
                <th>Gastronomia / Praça de Alimentação</th>
                <th>Horário</th>
              </tr>
              <tr>
                <td>Seguna à Sábado</td>
                <td>10:00 - 22:00 hrs</td>
              </tr>
              <tr>
                <td>Domingos e Feriados</td>
                <td>14:00 - 20:00 hrs</td>
              </tr>
            </table>
            
             <!---esta tabela é dinamica e vamos printar--->
             <table class="fnc">
              <tr>
                <th>Outback</th>
                <th>Horário</th>
              </tr>
              <tr>
                <td>Seguna à Sábado</td>
                <td>10:00 - 22:00 hrs</td>
              </tr>
              <tr>
                <td>Domingos e Feriados</td>
                <td>14:00 - 20:00 hrs</td>
              </tr>
            </table>
            
            <!---esta tabela é dinamica e vamos printar--->
             <table class="fnc">
              <tr>
                <th>Hiro Sushi</th>
                <th>Horário</th>
              </tr>
              <tr>
                <td>Seguna à Sábado</td>
                <td>10:00 - 22:00 hrs</td>
              </tr>
              <tr>
                <td>Domingos e Feriados</td>
                <td>14:00 - 20:00 hrs</td>
              </tr>
            </table>

        		
        
        </div><!--funcionamento-->
        
        <div class="clear"></div>
        
        <div class="mapa">
        	<h3>Como Chegar</h3>
            	<div id="map"></div>
            
        </div>
        
        <div class="mapa">
        	<h3>Mapa do Shopping</h3>
            <div>
            	<img src="/imagens/shopping-cerrado.svg" class="img">
            </div>    
            
        </div>
        
        <div class="clear"></div>
        
        <div class="contato">   
       	<h2>Fale Conosco</h2> 
       	<p>Precisa tirar alguma dúvida específica ou possui alguma sugestão? Envie sua mensagem para a central de realcionamento do ON.STORES que nossa equipe entrará em contato rapidamente com você.</p>     
		<form method="POST" action=""  onSubmit="return checkform_informacoes(this);">
          <div class="ctc">
                <div class="campos100">
                    <input name="nome" type="text" value="" placeholder=" Nome ">
                </div>
                
                <div class="campos100">
                    <input name="email" type="text" value="" placeholder=" E-mail ">
                </div>
                
                <div class="campos100">
                    <input name="telefone" type="text" value="" placeholder=" Telefone ">
                </div>
                
                <div class="campos100">
                    <input name="tipo" type="text" value="" placeholder=" Tipo de Atendimento ">
                </div>
            
          </div><!--ctc-->
          
          <div class="ctc">
                <div class="campos100">
                   <textarea name="mensagem" rows="4" cols="50" placeholder=" Mensagem "></textarea>
                </div>
              
               <input type="submit" value=" Enviar ">
			   <input type="hidden" name="_csrf" value="<%= csrfToken %>">	
          
          </div><!--ctc-->
   
   		<div class="linkcont">
        	<a href="http://vagas.intranetmall.com.br/grandplazashopping/" target="_blank">Trabalhe Conosco</a>
            <a href="https://im.intranetmall.com.br/grandplazashopping/" target="_blank">Portal do Lojista</a>
        </div>
		</form>
   <div class="clear"></div>
   </div><!--contato--> 
        
      </article><!--informaçoes-->
 	

   
   </div><!--produtos--> 
 </div><!--full-->