<!doctype html>
<html lang="pt-BR">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0,  user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="IE=5; IE=8; IE=7; IE=9; IE=10; IE=11" >
<title>ON STORES | Carrinho </title>
<meta name="description" content="ON STORES - O Market Place da CCP para você!"/>
<meta name="keywords" content="" />
<link rel="shortcut icon" href="favicon.ico">
<link rel=canonical href="http://www.onstores.com.br/"/>
<script src="/js/jquery.min.js"></script>	

<link href="/css/estilo.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript">
		function confirmarClique() {
			if(confirm("Você deseja excluir este produto?")) {
				return true;
			} else {
				return false;
			}
		};
	</script>

<style type="text/css">
.adicionar_carrinho {	background-color: #9966CC; padding:2px 2px;   margin-top:5%; float:right; color:#fff; border:none; 	font-size: 18px; width:220px;  height:60px;	font-style: italic; 	font-weight: bold; 	font-family: Lora;}
</style>
</head>



<body id="carrinho">



	<div class="full">

    	

        <header> 
		<%	if (total_carrinho > 0){ %>
		<div id="titcar">Minha sacola <img src="/imagens/bag.png" width="60" height="35"></div>
		<%	}	%>
    		
		<%	if(usuario != '') {	%>
            	<nav class="rota">

                    <a href="/carrinho" class="rts ativo">
                        <span>1</span><br>
                        Minha Sacola
                    </a>

                    <a href="" class="rts ">
                        <span>2</span><br>
                        Identificação
                    </a>

                    <a href="" class="rts">
                        <span>3</span><br>
                        Pagamento
                    </a>

                    <a href="" class="rts">
                        <span>4</span><br>
                        Confirmação
                    </a>            

                </nav>
			<%	}	%>
                

    	</header>


<form action="/carrinho" method="POST" autocomplete="off">

<div class="carrinho">
	<table class="sacola">

      <tr>
        <th>Produto</th>
        <th>Shopping</th>
        <th>Quantidade</th>
        <th>Valor Unitário</th>
        <th>Total</th>
      </tr>
	  
	<% 
	if (resultados.length>0){
		resultados.forEach(function(resultado) { 
	%> 

      <tr>
        <td>       	

            <img src="<%=resultado.imagem%>" width="150" height="104">

        	<div class="carprod">

                <h3><%=resultado.produto%></h3>
				<%
				if (resultado.cor != ""){
				%>
				<div>Cor: <span class="colorBtn"  data-cor="<%=resultado.cor%>"></span></div>				
				<%
				} 
				%>
				<%
				if (resultado.tamanho != ""){
				%>
				<div>Tamanho: <span style="font-size:16px"><%=resultado.tamanho%></span> </div>
				<%
				} 
				%>
				
               <div class="carstore"><span><%=resultado.loja%></span></div>

                <div class="valorcar">
					<%
					if (resultado.de == resultado.por) {
					%>
					<div class="carprice"><span>R$ <%=resultado.por%></span></div>
					<%
					} else {
					%>
                    <div>
					<span class="de">De R$ <%=resultado.de%></span>
					<span class="por">Por <%=resultado.por%></span>
					</div>
					<%
					}
					%>
                </div>

            </div>

        </td>

        <td>
            <img src="/imagens/icon-location.jpg" width="37" height="37">
            <span class="droid"><%=resultado.shopping%></span>
        </td>

        <td>
            <div class="qtdcar">
				<%
				if (resultado.qtde > 1){
				%>
                <a href="/carrinho/altera/<%=resultado.id%>/<%=parseInt(resultado.qtde)-1%>">-</a>
				<%
				} else {
				%>
				<a href="#"> - </a>
				<%
				}
				%>
                <input type="text" value=" <%=resultado.qtde%> " maxlength="2" readonly=readonly>

                <a href="/carrinho/altera/<%=resultado.id%>/<%=parseInt(resultado.qtde)+1%>">+</a>
             </div>

        </td>

        <td>
        	<input type="text" value="<%=resultado.por%>" readonly=readonly>
        </td>

        <td>
        	<input type="text" value=" <%=resultado.total%>"  readonly=readonly>
            <a onClick="return confirmarClique();" href="/carrinho/remove/<%=resultado.id%>/"> x </a>
        </td>

      </tr>

    <% 
	}); 
	} else {
	%>	
	<tr>
		<td colspan="5" align="center">
			<div class="vazio">
				<img src="/imagens/pena.jpg" value="" width="78" height="77">
				<p>Não existem produtos em seu carrinho</p>
			</div>
		</td>
	</tr>
	<%
	}
	%>

	</table>
</div><!--carrinho-->
    <div class="clear"></div>

    
	<% 
	if (resultados.length>0){
	%>
     <section class="avisocar">

        <h3>Importante</h3>

        <p>Lembre-se que após a compra, você deverá retirar os itens adquiridos  diretamente na loja do shopping. <br> Seu pedido estará disponível  para retirada em <strong>1 hora </strong> após  a confirmação  de seu pagamento.</p>

  

     </section><!--aviso-->
	<%
	}
	%>
        

    <% 
	if (resultados.length>0){
	%>
	<div class="total">

    	<label>VALOR TOTAL</label>

        <input type="text" value="R$ <%=total%>" readonly disabled >

        
		<%
		if (total > 0){
		%>
        <input type="submit" value=" Comprar ">    
		<input type="hidden" name="_csrf" value="<%= csrfToken %>">	
		<%
		}
		%>
		<!--<input type="button" class="adicionar_carrinho"  value="Selecionar mais produtos" onclick="window.top.location.href='/lojas/loja-online'"> -->   
		
    </div>
<%
	}
	%>
    

</form>

</div>

<script src="/js/colorpicker/eight-bit-color-picker.js"></script>
<script type="text/javascript">
$(function(){
	const colors = EightBitColorPicker.getDefaultPalette();
	$('.colorBtn').each(function(){
		$(this).css('background-color', colors[parseInt($(this).attr("data-cor"))]);
	});
});		
</script>
		
<script> (function (a, b, c, d, e, f, g) { a['CsdmObject'] = e; a[e] = a[e] || function () { (a[e].q = a[e].q || []).push(arguments) }, a[e].l = 1 * new Date(); f = b.createElement(c), g = b.getElementsByTagName(c)[0]; f.async = 1; f.src = d; g.parentNode.insertBefore(f, g) })(window, document, 'script', '//device.clearsale.com.br/m/cs.js', 'csdm'); 
csdm('app', '9d416234de'); 
csdm('mode', 'manual');
csdm('send', 'cart');
</script>


</body>

</html>