<% layout("../layout/index") -%>
<% block("title", "ON Market Place | Lojas " + nome_do_shopping_barra_titulo); -%>


     <div class="full">
    
        <aside class="bannerint">
        	<img src="imagens/bannerloja.jpg" width="1366" height="285" title="Loja online">
            <section>Lojas</section>          
        </aside> <!--banner-->
   
   <div class="filtroloja content fgrey">
   	<form action="" method="POST" class="lojafilter"  autocomplete="off">
    	<div>
        	<label>Nome da Loja</label> 
            <input type="text" value="" placeholder="">            
        </div>
        <div>
        	<label>Tipo</label>
            <select class="minimal">
            	<option>Produtos</option>
                <option>Produtos 1</option>
                <option>Produtos 2</option>
                <option>Produtos 3</option>
            </select>
        </div>  
         <div>
        	<label>Categoria</label>
            <select class="minimal">
            	<option value="">Todas</option>
				<% 
				if (categorias.length>0){
				categorias.forEach(function(item) { 
				%> 
                <option value=""><%=item%></option>
				<% 
				}); 
				}
				%>
            </select>
        </div>
      <div>
       	<button>Perto de você
        <img src="imagens/location.png" width="25" height="34">
        </button>
		<input type="hidden" name="_csrf" value="<%= csrfToken %>">	
      </div>

    </form>
   </div>     

       
 <!------------------Lojas---------------------->  

   <div id="lojas">   
   	
		<% 
		if (resultados.length>0){
		resultados.forEach(function(resultado) { 
		%> 
    	<a href="/lojas/loja/<%=resultado.url_title%>" class="store">
            <img src="<%=caminho_imagem(resultado.mall)%><%=resultado.media.images.logo%>" width="350" height="185"> 
            <div class="line"></div>
        </a>
		<% 
		}); 
		}
		%>
        
        
   
   </div><!--produtos--> 
 </div><!--full-->


<!------------------Fim produtos---------------------->



