<% layout("../layout/index") -%>
<% block("title", "ON Market Place | Lojas "); -%>
    <div class="full">

    

        <aside class="bannerint">

        	<img src="/imagens/bannerint.jpg" width="1366" height="285" title="Loja online">

            <section>Loja online</section>

        </aside> <!--banner-->

   

   <div class="filtro content">

   	<form action="" method="POST" class="online"  autocomplete="off">

    	<div>

        	<input type="checkbox" id="c1" name="cb">

            <label for="c1">Promoções</label> 

        </div>

        

        <div>

        	<input type="checkbox" id="c2" name="cb">

            <label for="c2"> Produtos</label>

        </div>

        

        <div>

        	<label>Preço</label>

            <input type="text" value="" placeholder="min">

            <input type="text" value="" placeholder="máx">

        </div>

         <div>

        	<label>Categoria</label>

            <select class="minimal">

            	<option>Todas</option>

                <option>Categoria 1</option>

                <option>Categoria 2</option>

                <option>Categoria 3</option>

            </select>

        </div>

         <div>

        	<label>Marca</label>

            <select class="minimal">

            	<option>Todas</option>

                <option>Marca 1</option>

                <option>Marca 2</option>

                <option>Marca 3</option>

            </select>

        </div>
		<input type="hidden" name="_csrf" value="<%= csrfToken %>">	
    </form>

   </div>     



       

 <!------------------produtos---------------------->  

    <h1 class="cab-on">

   	  <img src="/imagens/onstores.png" width="82" height="90" title="ON Stores"> 

      <p>Compre agora e retire no Shopping nos próximos 30 minutos.</p>

    </h1>

   <div id="produtos">   

	<% 
	if (produtos.length>0){
		produtos.forEach(function(produto) { 
	%>    
    <a href="/produtos/<%=produto.url_title%>" class="prods">
        <section>
			<%
			if(usuario != '') {
			%>  
        	<div class="favs">
            	<span> <%=produto.desconto%> %</span>
                <button value="" id=""></button>
            </div>
            <%
			}
			%>
       		<img src="/imagens/<%=produto.imagem%>" title="<%=produto.produto%>" class="img">
            <h2><%=produto.loja%></h2>
            <div class="shop"><%=produto.shopping%></div>
            <h3><%=produto.produto%></h3>
            <div class="valor">
				<%
				if (produto.de == produto.por) {
				%>
				<span>R$ <%=produto.por%></span>
				<%
				} else {
				%>
            	<span>De R$ <%=produto.de%></span>
                <span>Por R$ <%=produto.por%></span>
				<%
				}
				%>
            </div>
       </section>  
   </a> 
   
   <% 
	}); 
	}
   %>	

   
   

   </div><!--produtos--> 

 </div><!--full-->



<!------------------Fim produtos---------------------->