<% layout("../layout/index") -%>
<% block("title", "ON STORES | Serviços | " + nome_do_shopping_barra_titulo); -%>
   <div class="full">
    
        <aside class="sembanner">
        	<h1 class="titles">
        		<span class="tgrey" style="left:25%">Serviços</span>
        	</h1>
        </aside> <!--banner-->
  

<div class="filtroservice content">
   	<form action="" class="service">    	
        
        <div>
        	<label>O que você procura?</label>
            <input type="text" value="" placeholder="">
        </div>
         <div>
        	<label>Categoria</label>
            <select class="minimal aumenta">
            	<option>Todas</option>
                <option>Categoria 1</option>
                <option>Categoria 2</option>
                <option>Categoria 3</option>
            </select>
        </div>

    </form>
   </div>   

       
 <!------------------Lojas---------------------->  

   <div id="servicos">   
	
		
		<% 
		if (resultados.length>0){
		resultados.forEach(function(resultado) { 
		%> 
    	<div class="serv">
			<img src="<%=resultado.imagem%>" title="<%=resultado.titulo%>">
            <h2><%=resultado.titulo%></h2>
            <div class="lineserv"></div>
            <span> <img src="imagens/icon-fone.jpg" width="39" height="39"> <%=resultado.telefone%></span>
            <span><img src="imagens/icon-location.jpg" width="39" height="39"> <%=resultado.piso%></span>
            <p><%=resultado.descricao%></p>
            
        </div>
         <% 
		}); 
		}
		%>

		
   
   </div><!--produtos--> 
 </div><!--full-->
