<% layout("../layout/index") -%>
<% block("title", "ON Market Place | Cupons " + nome_do_shopping_barra_titulo + " | " + resultado.cupom); -%>
<div class="full">
    
  <article id="conteudo">
  	
    <!---foto---->
    <section class="detail">
       
        <div id="foto">
            <div><img src="<%=resultado.imagem%>" title="<%=resultado.cupom%>" class="img"></div>
        </div><!--foto-->
         
    </section> 
    
     <!---infos cores, tamanho, shopping---->
    <div id="infocupon">
     <form action="">
       	<div class="compartilha"><img src="/imagens/compartilha.png" width="30" height="30"></div> 
        <p><%=resultado.loja%></p>
        <p><%=resultado.shopping%></p>
        <br> <br>
        <h1><%=resultado.cupom%>
        <div class="pline"></div>
        </h1>   
     	<div class="preco">
		    <%
			if (resultado.de == resultado.por){
			%>	
				<span class="por">R$ <%=resultado.por%></span>
			<%
			} else {
			%>
				<span class="de">De R$ <%=resultado.de%></span>
				<span class="por">Por <%=resultado.por%></span>
			<%
			}
			%>
         </div> 
         <br><br>
         <input type="submit" value=" Gerar Cupom ">         
   	</form>
   </div><!--info-->
    
     <!---Descrição---->
     
     <section id="descricaocupon">
     
     
     	<h2>Descrição do Cupom</h2>
        <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>
        <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>
  
        
     </section>
    
    <div id="more">
    
   		<h3 class="titles">
       		<span class="twhite" style="left: 13%;">Veja também</span>
        </h3>
        
        <div class="clear"></div><br><br>
        
           <% 
		   if (relacionados.length>0){
				relacionados.forEach(function(produto) { 
		   %> 
		   <a href="/cupons/<%=produto.url_title%>" class="prods"  data-nome="<%=produto.cupom%>" data-categoria="<%=produto.categoria%>" data-valor="<%=produto.por%>" data-tipo="promocao" data-loja="<%=produto.store%>">
				<section>
					<div class="favs">
						<%
						if (parseInt(produto.desconto)>0){
						%>
						<span> <%=produto.desconto%> %</span>
						<%
						}
						%>
						<button value="" id=""></button>
					</div>
					<img src="<%=produto.imagem%>" title="<%=produto.cupom%>" class="img">
					<h2><%=produto.loja%></h2>
					<div class="shop"><%=produto.shopping%></div>
					<h3><%=produto.cupom%></h3>
					<div class="valor">
						<%
						if (produto.de == produto.por){
						%>
						<span class="por">R$ <%=produto.por%></span>
						<%
						} else {
						%>
						<span class="de">De R$ <%=produto.de%></span>
						<span class="por">Por <%=produto.por%></span>
						
						<%
						}
						%>
					</div>
			   </section>  
		   </a> 
		   <%
		   });
		   } else {
		   %>
		   
		   <h3>Não existem cupons!</h3>
		   <%
		   }
		   %>
   
       
       <div class="clear"></div><br><br>
      <!-- <a href="/cupons" class="botao">Ver todas as promoções</a>-->
               
    <div class="clear"></div>
    </div><!--MORE-->
     
  </article> <!--conteudo-->

 </div><!--full-->


