<% layout("../layout/index") -%>
<% block("title", "ON Market Place | Cupons " + nome_do_shopping_barra_titulo); -%>


    <div class="full">
    
        <aside class="bannerint">
        	<img src="/imagens/bannerint.jpg" width="1366" height="285" title="Loja online">
            <section>Cupons</section>
        </aside> <!--banner-->
   
   <div class="filtro content">
   	<form action="" method="POST" class="online"  autocomplete="off">
    	<div>
        	<input type="checkbox" id="c1" name="cb">
            <label for="c1">Promoções</label> 
        </div>
        
        <div>
        	<input type="checkbox" id="c2" name="cb">
            <label for="c2"> Produtos</label>
        </div>
        
        <div>
        	<label>Preço</label>
            <input type="text" name="minimo" value="" placeholder="min" onKeyPress="return isNumberKey(event)">
            <input type="text" name="maximo" value="" placeholder="máx" onKeyPress="return isNumberKey(event)">
        </div>
         <div>
        	<label>Categoria</label>
            <select class="minimal">
            	<option>Todas</option>
                <option>Categoria 1</option>
                <option>Categoria 2</option>
                <option>Categoria 3</option>
            </select>
        </div>
         <div>
        	<label>Marca</label>
            <select class="minimal">
            	<option>Todas</option>
                <option>Marca 1</option>
                <option>Marca 2</option>
                <option>Marca 3</option>
            </select>
        </div>
		<input type="hidden" name="_csrf" value="<%= csrfToken %>">		
    </form>
   </div>     

       
 <!------------------produtos---------------------->  
   <div id="produtos">   
   
   <% 
   if (resultados.length>0){
		resultados.forEach(function(produto) { 
   %> 
   <a href="/cupons/<%=produto.slug%>" class="prods">
        <section>
        	<div class="favs">
            	<span>30%</span>
                <button value="" id=""></button>
            </div>
       		<img src="/imagens/sapato.jpg" title="<%=produto.title%>" class="img">
            <h2><%=produto.store%></h2>
            <div class="shop"><%=produto.mall%></div>
            <h3><%=produto.title%></h3>
            <div class="valor">
				<%
				if (produto.price_start == produto.price_end){
				%>
            	<span>De R$ <%=produto.price_start%></span>
                <span>Por <%=produto.price_end%></span>
				<%
				} else {
				%>
				<span>R$ <%=produto.price%></span>
				<%
				}
				%>
            </div>
       </section>  
   </a> 
   <%
   });
   } else {
   %>
   <h3>Não existem cupons!</h3>
   <%
   }
   %>
   
   </div><!--produtos--> 
 </div><!--full-->

