<!doctype html>

<html lang="pt-BR">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=5; IE=8; IE=7; IE=9; IE=10; IE=11" >
		<title>ON STORES | Login </title>
		<meta name="description" content="ON STORES - O Market Place da CCP para você!"/>
		<meta name="keywords" content="" />
		<link rel="shortcut icon" href="favicon.ico">
		<link rel=canonical href="http://www.onstores.com.br/"/>
		<link href="/css/estilo.css" rel="stylesheet" type="text/css" />
		<script src="/js/jquery.min.js"></script>
		<script src="/js/ccp.js"></script>
		<script src="/js/jquery.maskedinput.2015.js"></script>
		
		<script type="text/javascript">
		function validar_cliente(CPF){
			var tmp_CPF = CPF;
			if (!tmp_CPF==""){
				tmp_CPF = tmp_CPF.replace(".", "");
				tmp_CPF = tmp_CPF.replace(".", "");
				tmp_CPF = tmp_CPF.replace("-", "");
			}
			if (tmp_CPF.length==11){
				$.ajax({
				  type: 'POST',
				  url: '/login/validar',
				  dataType : 'json',
				  data: { 
					'CPF': tmp_CPF, 
					'_csrf': '<%= csrfToken %>'
				  },
				  success: function (response) {
					var resposta = response;
					if (resposta.resultado == "NAO_LOCALIZADO"){
						 $('#btn_submit').prop('disabled', false);
					} else {
						if (resposta.resultado == "OK"){
							alert('Este CPF já se encontra cadastrado!');
							$('#btn_submit').prop('disabled', true);
						} else {
							$('#btn_submit').prop('disabled', true);
						}
					}
				  },
				  error: function () {
					alert("Desculpe, não foi possível pesquisar em nosso sistema");
				  }
			   });
		   }
		}  
		
		function validar_cliente_esqueci(CPF){
			var tmp_CPF = CPF;
			if (!tmp_CPF==""){
				tmp_CPF = tmp_CPF.replace(".", "");
				tmp_CPF = tmp_CPF.replace(".", "");
				tmp_CPF = tmp_CPF.replace("-", "");
			}
			if (tmp_CPF.length==11){
				$.ajax({
				  type: 'POST',
				  url: '/login/validar',
				  dataType : 'json',
				  data: { 
					'CPF': tmp_CPF, 
					'_csrf': '<%= csrfToken %>'
				  },
				  success: function (response) {
				    var resposta = response;
					if (resposta.resultado == "NAO_LOCALIZADO"){
						alert('O CPF informado não foi localizado!');
						$('#CPF2').value('');
						$('#btn_submit_esqueci').prop('disabled', true);
					} else {
						if (resposta.resultado == "OK"){
							$('#btn_submit_esqueci').prop('disabled', false);
						} else {
							$('#btn_submit_esqueci').prop('disabled', true);
						}
					}
				  },
				  error: function () {
					alert("Desculpe, não foi possível pesquisar em nosso sistema");
				  }
			   });
		   }
		}  
		</script>
		
	</head>
<body id="login">



<div class="full">  

    

    <header>

   
	<%
	if (total_carrinho > 0){
	%>
   	<!---mosrar quando nao o carrinho tiver vazio --->
    <!--<div id="titcar">Login <img src="/imagens/bag.png" width="60" height="35"></div>-->
	<%
	}
	%>
		
		<%
		if(usuario != '') {
		%>   
        <!---mosrar o passo a passo quando estiver comprando--->

    	<nav class="rota">

        	<a href="" class="rts">

            	<span>1</span><br>

                Minha Sacola

            </a>

            <a href="" class="rts ativo">

            	<span>2</span><br>

                Identificação

            </a>

            <a href="" class="rts">

            	<span>3</span><br>

                Pagamento

            </a>

            <a href="" class="rts">

            	<span>4</span><br>

                Confirmação

            </a>            

        </nav>
		<%
		}
		%>
        

    </header>

    

	<div class="clear"></div>



	<div class="soucliente" id="logar">
		<!---Quando o carrinho tiver vazio leva-lo para a home logado depois de se logar--->
		<strong><%=mensagem%></strong>
        <form action="/login" method="POST" autocomplete="off"  onSubmit="return checkform_login(this);" id="logar">
			<h1>Sou cliente</h1> 

          <div class="campos100">
          	<input type="text" value="" placeholder="cpf" id="Login" name="CPF" maxlength="14" onKeyPress="return isNumberKey(event);">
          </div>

          <div class="campos100">
          	<input type="password" value="" placeholder="senha" name="senha">
          </div>

          <div class="campos100">
          	<a href="" class="buttons1"> Esqueci minha senha</a>
          </div>

          <div class="campos100">
          	<input type="submit" value="Entrar" >
			<input type="hidden" name="_csrf" value="<%= csrfToken %>">	
          </div>

        </form>
		
		
		
	</div>

	<div class="soucliente" id="esquece">     
	 <!-------mostrar quando o usuarío recuperar a senha------>

        <form action="/login/lembrarsenha" method="POST" autocomplete="off"  onSubmit="return checkform_lembrar_senha(this);" id="senha">

          <h1>Esqueci minha senha</h1>

          <div class="campos100">

          	<input type="text" value="" placeholder="Informe seu CPF" name="CPF" id="CPF2" maxlength="14" onKeyPress="return isNumberKey(event);" onblur="validar_cliente_esqueci(this.value);">

          </div>

          <div class="campos100">

          	<a href="" class="buttons2"> Voltar ao login</a>

          </div>

          <div class="campos100">

          	<input type="submit" id="btn_submit_esqueci" value=" Enviar Senha ">
			<input type="hidden" name="_csrf" value="<%= csrfToken %>">	
          </div>

        </form>
		
		

    </div><!--sou cliente-->

    

    
	<!---Quando o carrinho tiver vazio leva-lo para a home logado depois de se cadastrar--->
    <div class="nocliente">

    	<h2>Ainda não sou cliente</h2>

    	<form action="/login/cadastrar" method="POST" autocomplete="off"  onSubmit="return checkform_novo_cadastro(this);">

        <div class="campos50">
          	<input type="text" value="" placeholder="cpf" name="CPF" id="CPF" maxlength="14" onKeyPress="return isNumberKey(event);" onblur="validar_cliente(this.value);">
         </div>

         <div class="campos50">
          	<input type="text" value="" placeholder="E-mail" name="email">
         </div>

         <div class="campos50">
          	<input type="text" value="" placeholder="Nome" name="nome">
         </div>

         <div class="campos50">
          	<input type="text" value="" placeholder="Sobrenome" name="sobrenome">
         </div>

        <div class="campos50">

          	<select class="minimal" name="genero">

                <option value="male">Masculino</option>

                <option value="female">Feminino</option>

            </select>  

         </div>
		 <div class="campos50">

          	<input type="text" value="" placeholder="Aniversário" id="aniversario" name="aniversario" maxlength="10">
         </div>
		 
		 <div class="campos50">
          	<input type="text" value="" placeholder="DDD" name="ddd" maxlength="2" onKeyPress="return isNumberKey(event);">
         </div>
         <div class="campos50">

          	<input type="text" value="" placeholder="Telefone Celular" name="telefone" maxlength="10" onKeyPress="return isNumberKey(event);">
         </div>


         <div class="campos50">
          	<input type="password" value="" placeholder="senha" name="senha">
         </div>

         <div class="campos50">
          	<input type="password" value="" placeholder="confirmar senha" name="confirmar_senha">
         </div>

    	

        <div class="campos100">

        	<div class="campos50">
                <input type="checkbox" id="c1" name="novidades">
                <label for="c1">Quero receber novidades do ON</label>
            </div>

            <div class="campos50">
                <input type="checkbox" id="c2" name="aceite">
                <label for="c2"> Aceito os <a href="">Termos e condições</a></label>
            </div>        

        </div>


			<input type="submit" id="btn_submit" value=" Cadastrar " disabled="true"> 
			<input type="hidden" name="_csrf" value="<%= csrfToken %>">	
			
        </form>       

    </div><!--nocliente-->

 

</div><!--full-->


<script>
$(document).ready(function() {

  $("#CPF").mask("999.999.999-99");	
  $("#CPF2").mask("999.999.999-99");	
  $("#Login").mask("999.999.999-99");
  $("#aniversario").mask("99/99/9999");	
  $('#esquece').hide();
  $('#logar').show(); 
  

 $( ".buttons1" ).click(function(event) {
	  event.preventDefault();
	  $( "#logar" ).hide();
	  $( "#esquece" ).show();  

  });

   $( ".buttons2" ).click(function(event) {
	 event.preventDefault();
	  $( "#logar" ).show();
	  $( "#esquece" ).hide();  

  });

  

   });

  </script>

 </body>

</html>