<% layout("../layout/index") -%>
<% block("title", "ON Market Place | Promoções | " + nome_do_shopping_barra_titulo); -%>

<div class="full">
    
    <aside class="bannerint">
        <img src="imagens/bannerloja.jpg" width="1366" height="285" title="Loja online">
        <section>Promoções do Shopping</section>          
    </aside> <!--banner-->
   
  
<article id="shoppings">
	<div class="full">
    	<!--
        <h5 class="titles">
        	<span class="twhite">Shoopings</span>
        </h5>
        <p class="sub-title"> simplesmente uma simulação de texto da indústria tipográfica e de impressos,
         e vem sendo utilizado desde o século XVI
         </p>
         -->
         
		<% 
		if (resultados.length>0){
		resultados.forEach(function(resultado) { 
		%> 
      	<a href="/promocoes/<%=resultado.url_title%>" class="promo">
         	<div>
            	<span class="purple"></span>
   	     		<img src="<%=caminho_imagem(resultado.mall)%><%=resultado.media.images.main%>" class="img" title="<%=resultado.info.title%>">
               <p><%=resultado.info.title%><br>
       		</div>	
      	</a>
        <% 
		}); 
		}
		%>
		
         
    </div><!--full-->
</article>

 
 </div><!--full-->