<% layout("../layout/index") -%>
<% block("title", "ON STORES | Minhas Compras "); -%>
	<div class="fach"></div>

   <div class="full">

    	

        <div id="conteudo">

        

			<%-partial("lateral")%>
            

          <div class="area">

           	<h1>Minhas Compras <img src="imagens/bag.png" width="30" height="30"></h1>

           	  <h2><img src="imagens/icon-calendar.jpg" width="36" height="33"> últimos 30 dias</h2>

          

          <div class="clear"></div><br>

          <table border="0" cellpadding="0" cellspacing="0" class="ped">

              <tr>

                <th>Pedido</th>

                <th>Data</th>

                <th>Valor</th>

              </tr>
			  <% 
			  if (resultados.length>0){
			  resultados.forEach(function(resultado) { 
			  %>
              <tr>

                <td><a href="/compras/detalhes/<%=resultado.pedido%>"><%=resultado.pedido%></a></td>

                <td><%=moment(resultado.data).format('DD/MM/YYYY')%></td>

                <td>R$ <%= (parseFloat(resultado.valor)/100).toFixed(2)%></td>

             </tr>
			 <%
			});
			} else {
			%>
			<tr>
				<td colspan="3" align="center">Não existem pedidos</td>
			</tr>	
				
			<%
			}
			%>	

        </table>
         </div><!--area-->

     </div><!--conteudo-->

   

   </div><!--produtos--> 

 </div><!--full-->



<!------------------Fim produtos---------------------->