<% layout("../layout/index") -%>
<% block("title", "ON STORES |  Configurações"); -%>
<div class="fach"></div>

   <div class="full">

    	

        <div id="conteudo">

        

        	<%-partial("lateral")%>

            

          <div class="area">

           	<h1>Configurações <img src="/imagens/icon-config.jpg" width="26" height="23"></h1>

           	 

          	<div class="config">

            	

                

                  <input type = "radio" id = "tab1" name = "tabs" checked>

                  <label for = "tab1">Dados pessoais</label>

                  

                  <input type = "radio" id = "tab2" name = "tabs">

                  <label for = "tab2">Endereço</label>

                  

                  <input type = "radio" id = "tab3" name = "tabs">

                  <label for = "tab3">Carteira</label>

                  

                  <input type = "radio" id = "tab4" name = "tabs">

                  <label for = "tab4">Senha</label>



				

                     <!--Dados pessoais-->

                      <div id="conf1">

                       <form method="POST" action="/configuracoes/dados"  onSubmit="return checkform_cadastro(this);" autocomplete="off">

                       	<div class="campos50">

                        	<input type="text" value="" name="CPF" maxlength="11" placeholder="CPF"  onKeyPress="return isNumberKey(event);">   

                        </div>

                        

                        <div class="campos50">

                        	<input type="text" value="" name="email" placeholder="email">   

                        </div>

                        

                         <div class="campos50">

                        	<input type="text" value="" name="nome" placeholder="nome">   

                        </div>

                        

                         <div class="campos50">

                        	<input type="text" value="" name="sobrenome" placeholder="sobrenome">   

                        </div>

                        

                        <div class="campos50">

                        	<select class="minimal">
                                <option>Masculino</option>
                                <option>Feminino</option>
                            </select>  

                        </div>

                        

                        <div class="campos50">

                        	<input type="text" value="" id="aniversario" name="aniversario" placeholder="data de nascimento" maxlength="10">   

                        </div>

                        

                        <button type="submit">Salvar</button>
						<input type="hidden" name="_csrf" value="<%= csrfToken %>">	
						</form>	

                      </div><!--dados pessoais-->

                 

                 

                     <!--Endereço--> 

                     <div id="conf2">
						<form name="formEnd" method="POST" action="/configuracoes/endereco"  onSubmit="return checkform_endereco(this);" autocomplete="off">
                       

                       	<div class="campos30">

                        	<input type="text" name="CEP" value="" maxlength="8" placeholder="CEP" onKeyPress="return isNumberKey(event)" onblur="validar_cep(this.value);">   

                        </div>

                        

                        <div class="campos70">

                        	<input type="text" value="" name="endereco" placeholder="rua" readonly="true">   

                        </div>

                        

                        <div class="campos30">

                        	<input type="text" value="" name="numero" placeholder="número">   

                        </div>

                        

                        <div class="campos70">

                        	<input type="text" value="" placeholder="complemento">   

                        </div>

                        

                         <div class="campos20">

                        	<input type="text" value="" name="bairro" placeholder="bairro" readonly="true">   

                        </div>

                        

                         <div class="campos50">

                        	<input type="text" value="" name="cidade" placeholder="cidade" readonly="true">   

                        </div>

                        

                         <div class="campos30">

                        	<input type="text" value="" name="estado" maxlength="2" placeholder="UF" readonly="true">   

                        </div>

                       

                       

                        <button type="submit">Salvar</button>
						<input type="hidden" name="_csrf" value="<%= csrfToken %>">	
						</form>	
                      </div>

                      

                      <!--Carteira-->              

                      <div id="conf3">

                       

                         
						 <% 
						if (carteira.length==0){
			  
						%>
                         <!----MOstrar quando não tiver carteira----->

                         <!--<div class="sorry">

                            <img src="/imagens/sorry.jpg" width="97" height="89"> 

                            <p> Você ainda não tem uma carteira</p>

                         </div>-->

						<%
						} else {
						carteira.forEach(function(resultado) { 
						%>	

                         <div class="carteira">

                        	<div>

                                <input type="checkbox" id="c1" name="cb">

                                <label for="c1"></label> 

                            </div>

                            <div> <%=resultado.nome%></div>

                            <div>	Número do Cartão  </div>

                            <div> <%=resultado.comeco%> xxxx xxxx <%=resultado.fim%></div> 

                            <div><a href="">Excluir</a></div>                        

                         </div><!--carteira-->

                        <%
						});
						}
						%>

                      </div>

                      

                      <!--Senha-->

                     <div id="conf4">

						 <form method="POST" action="/configuracoes/senha"  onSubmit="return checkform_senha(this);" autocomplete="off">

                         <div class="campos30">

                                <input type="text" value="" name="senha_atual" placeholder="senha atual">   

                            </div>

                            

                            <div class="campos30">

                                <input type="text" value="" name="senha" placeholder="nova senha">   

                            </div>

                            

                            <div class="campos30">

                                <input type="text" value="" name="confirmar_senha" placeholder="confirmar senha">   

                            </div>

                     	

                       <div class="clear"></div><br>

                       <p>*A senha deve conter no mínimo 6 caracteres, uma letra maiúscula e algum caractere especial.</p>

                       

                       	<button type="submit">Alterar senha</button>
						<input type="hidden" name="_csrf" value="<%= csrfToken %>">		
						</form>

                     </div>

				</form>

          

          	</div><!--config-->

            

          </div><!--area-->

        

        



        

        

     </div><!--conteudo-->

   

   </div><!--produtos--> 

 </div><!--full-->
<script type="text/javascript">
$(document).ready(function(){
	$("#aniversario").mask("99/99/9999");
	
});

function validar_cep(CEP){
		$.ajax({
		  type: 'POST',
		  url: '/pagamento/cep',
		  dataType : 'json',
		  data: { 
			'cep': CEP, 
			'_csrf': '<%= csrfToken %>'
		  },
		  success: function (response) {
			var resposta = JSON.parse(response);
			if (resposta.zipcode == null){
				alert('O CEP informado não foi localizado');
				document.formEnd.endereco.readOnly = true;
				document.formEnd.bairro.readOnly = true;
				document.formEnd.endereco.value = '';
				document.formEnd.bairro.value = '';
				document.formEnd.cidade.value = '';
				document.formEnd.estado.value = '';
			} else {
				if (resposta.street == null){
					document.formEnd.cidade.value = resposta.city;
					document.formEnd.estado.value = resposta.state;
					document.formEnd.endereco.readOnly = false;
					document.formEnd.bairro.readOnly = false;
				} else {
					document.formEnd.endereco.readOnly = true;
					document.formEnd.bairro.readOnly = true;
					document.formEnd.endereco.value = resposta.street;
					document.formEnd.bairro.value = resposta.neighborhood;
					document.formEnd.cidade.value = resposta.city;
					document.formEnd.estado.value = resposta.state;
				}
			}
		  },
		  error: function () {
			alert("Desculpe, não foi possível pesquisar este CEP");
			document.formEnd.endereco.readOnly = true;
			document.formEnd.bairro.readOnly = true;
			document.formEnd.endereco.value = '';
			document.formEnd.bairro.value = '';
			document.formEnd.cidade.value = '';
			document.formEnd.estado.value = '';
		  }
	   });
	}  
</script>
<!------------------Fim produtos---------------------->
