<% layout("../layout/index") -%>
<% block("title", "ON STORES | Minhas Compras | Detalhe Pedido"); -%>
<div class="fach"></div>

   <div class="full">

    	

        <div id="conteudo">

        

        	<%-partial("lateral")%>

            

      <div class="area">

        <h1>Minhas Compras <img src="/imagens/bag.png" width="30" height="30"></h1>

        <h2>Detalhe do Pedido</h2>

      

      	<a href="/compras" class="voltar"><span class="seta-esquerda"></span> Voltar </a>

      

      	<section>

        

        <table class="det">

             <tr>

                <th>

                	<span>Pedido</span>

                	<br>

                  	<strong>#<%=resultados.pedido%> </strong>

                </th>

                <th>&nbsp;</th>

                <th colspan="5" rowspan="3" align="center" valign="middle"><p align="center"><img src="/compras/detalhes/qrcode/<%=resultados.pedido%>" width="155" height="170"></p></th>

            </tr>

            <tr>

                <td><span>Data</span><br><%=moment(resultados.data).format('DD/MM/YYYY')%></td>

                <td><span>Horario de retirada</span><br> 15:00hs</td>

            </tr>

            <tr>

                <td><span>Forma de pagamento</span><br><strong><%=resultados.tipo%></strong>
				
				<%
				if (resultados.tipo == "Cartão de Crédito"){
				%>
				Bandeira: <strong><%=resultados.bandeira%></strong><br/>
				Começo: <strong><%=resultados.cartao_comeco%></strong><br/>
				Fim: <strong><%=resultados.cartao_fim%></strong><br/>
				<%
				} else {
				%>
				Vencimento:<br/><strong><%=moment(resultados.boleto_vencimento).format('DD-MM-YYYY')%></strong><br/>
				<%
				}
				%>
				Status: <%=resultados.status%>
				</td>
				
				

                <td><span>Token</span><br>  000 000 000 </td>

                </tr>

             <tr>

                <td colspan="7">

                <div></div>

                </td>               

              </tr>

              <tr>

                <td colspan="7"><b>Itens comprados</b></td>

            </tr>
			<% 
			if (resultados.items.length>0){
			resultados.items.forEach(function(resultado) { 
			%> 

              <tr class="lin">

                <td><%=resultado.produto%></td>

                <td><%=resultado.shopping%></td>

                <td>FARM</td>

                <td>Cor ????</td>

                <td>Tamanho ?????</td>

                <td><%=resultado.qtde%> Unidade(s)</td>

                <td>R$ <%=resultado.total%></td>

              </tr>
		    <%
			})
			}
			%>
        </table>

        

       <div class="clear"></div>

        </section>

     

      

      

      </div><!--area-->

        

        



        

        

     </div><!--conteudo-->

   

   </div><!--produtos--> 

 </div><!--full-->



<!------------------Fim produtos---------------------->


