<% layout("../layout/index") -%>
<% block("title", "ON STORES |  Meus Favoritos"); -%>
<div class="fach"></div>

   <div class="full">

    	

        <div id="conteudo">

        

        	<%-partial("lateral")%>

            

          <div class="area">

           	<h1>Meus Favoritos <img src="/imagens/fav.png" width="26" height="23"></h1>

           	 

          	<div class="tabinator">

            	

                  <input type = "radio" id = "tab1" name = "tabs" checked>

                  <label for = "tab1">Todos</label>

                  

                  <input type = "radio" id = "tab2" name = "tabs">

                  <label for = "tab2">Produtos</label>

                  

                  <input type = "radio" id = "tab3" name = "tabs">

                  <label for = "tab3">Promoções</label>

                  

                  <input type = "radio" id = "tab4" name = "tabs">

                  <label for = "tab4">Lojas</label>

                  

                  <input type = "radio" id = "tab5" name = "tabs">

                  <label for = "tab5">Eventos</label>

                



          	<!--Todos-->

              <div id="content1">

            		

                    <!--quando nao tiver produto--->
					<%
					if (total == 0){
					%>
            		<div class="sorry">

                        <img src="/imagens/sorry.jpg" width="97" height="89"> 

                        <p> Você ainda não tem itens favoritos</p>

                  	</div>
					<%
					} else {
					%>
					<h3>Sua lista de favoritos possui <%=total%> itens!</h3>
					<%
					}
					%>

              </div><!--Todos-->

             

             <!--produtos--> 

             <div id="content2">

                <!--quando nao tiver produto--->
					<%
					if (total == 0){
					%>
            		<div class="sorry">

                        <img src="/imagens/sorry.jpg" width="97" height="89"> 

                        <p> Você ainda não tem itens favoritos</p>

                  	</div>
					<%
					} else {
					%>
					<h3>Sua lista de favoritos possui <%=total%> itens!</h3>
					<%
					}
					%>

                <% 
				if (produtos.length>0){
					produtos.forEach(function(produto) { 
				%>    
				<a id="lk<%=produto.id%>" href="/produtos/<%=produto.url_title%>" class="prods">
					<section>
						<%
						if(usuario != '') {
						%>  
						<div class="favs">
							<span> <%=produto.desconto%> %</span>
							<button type="button" value="" id="" onclick="remover_produto('<%=produto.id%>', event)"></button>
						</div>
						<%
						}
						%>
						<img src="<%=produto.imagem%>" title="<%=produto.produto%>" class="img">
						<h2><%=produto.loja%></h2>
						<div class="shop"><%=produto.shopping%></div>
						<h3><%=produto.produto%></h3>
						<div class="valor">
							<span>De R$ <%=produto.de%></span>
							<span>Por R$ <%=produto.por%></span>
						</div>
				   </section>  
			   </a> 
			   
			   <% 
				}); 
				}
			   %>	
               
              </div>

              

              <!--promoções-->              

              <div id="content3">

                <!--quando nao tiver produto--->
					<%
					if (total == 0){
					%>
            		<div class="sorry">

                        <img src="/imagens/sorry.jpg" width="97" height="89"> 

                        <p> Você ainda não tem itens favoritos</p>

                  	</div>
					<%
					} else {
					%>
					<h3>Sua lista de favoritos possui <%=total%> itens!</h3>
					<%
					}
					%>

                <% 
				if (promocoes.length>0){
					promocoes.forEach(function(produto) { 
				%>    
				<a href="/promocoes/<%=produto.url_title%>" class="prods">
					<section>
						<%
						if(usuario != '') {
						%>  
						<div class="favs">
							<span> <%=produto.desconto%> %</span>
							<button value="" id=""></button>
						</div>
						<%
						}
						%>
						<img src="/imagens/<%=produto.imagem%>" title="<%=produto.produto%>" class="img">
						<h2><%=produto.loja%></h2>
						<div class="shop"><%=produto.shopping%></div>
						<h3><%=produto.produto%></h3>
						<div class="valor">
							<span>De R$ <%=produto.de%></span>
							<span>Por R$ <%=produto.por%></span>
						</div>
				   </section>  
			   </a> 
			   
			   <% 
				}); 
				}
			   %>	

               

              </div>

              

              <!--Lojas-->

             <div id="content4">

             <!--quando nao tiver produto--->
					<%
					if (total == 0){
					%>
            		<div class="sorry">

                        <img src="/imagens/sorry.jpg" width="97" height="89"> 

                        <p> Você ainda não tem itens favoritos</p>

                  	</div>
					<%
					} else {
					%>
					<h3>Sua lista de favoritos possui <%=total%> itens!</h3>
					<%
					}
					%>

                <% 
				if (lojas.length>0){
					lojas.forEach(function(produto) { 
				%>    
				<a href="/lojas/<%=produto.url_title%>" class="prods">
					<section>
						<%
						if(usuario != '') {
						%>  
						<div class="favs">
							<span> <%=produto.desconto%> %</span>
							<button value="" id=""></button>
						</div>
						<%
						}
						%>
						<img src="/imagens/<%=produto.imagem%>" title="<%=produto.produto%>" class="img">
						<h2><%=produto.loja%></h2>
						<div class="shop"><%=produto.shopping%></div>
						<h3><%=produto.produto%></h3>
						<div class="valor">
							<span>De R$ <%=produto.de%></span>
							<span>Por R$ <%=produto.por%></span>
						</div>
				   </section>  
			   </a> 
			   
			   <% 
				}); 
				}
			   %>	

               
              </div>

              

              <!--eventos-->

              <div id="content5">

               <!--quando nao tiver produto--->
					<%
					if (total == 0){
					%>
            		<div class="sorry">

                        <img src="/imagens/sorry.jpg" width="97" height="89"> 

                        <p> Você ainda não tem itens favoritos</p>

                  	</div>
					<%
					} else {
					%>
					<h3>Sua lista de favoritos possui <%=total%> itens!</h3>
					<%
					}
					%>

                <% 
				if (eventos.length>0){
					eventos.forEach(function(produto) { 
				%>    
				<a href="/eventos/<%=produto.url_title%>" class="prods">
					<section>
						<%
						if(usuario != '') {
						%>  
						<div class="favs">
							<span> <%=produto.desconto%> %</span>
							<button value="" id=""></button>
						</div>
						<%
						}
						%>
						<img src="/imagens/<%=produto.imagem%>" title="<%=produto.produto%>" class="img">
						<h2><%=produto.loja%></h2>
						<div class="shop"><%=produto.shopping%></div>
						<h3><%=produto.produto%></h3>
						<div class="valor">
							<span>De R$ <%=produto.de%></span>
							<span>Por R$ <%=produto.por%></span>
						</div>
				   </section>  
			   </a> 
			   
			    <% 
				}); 
				}
			    %>	
              </div>

          

          	</div><!--tab-->

            

          </div><!--area-->

        

        



        

        

     </div><!--conteudo-->

   

   </div><!--produtos--> 

 </div><!--full-->



<!------------------Fim produtos---------------------->