<% layout("../layout/index") -%>
<% block("title", "ON STORES | Cinema | " + nome_do_shopping_barra_titulo + " | " + resultados.title); -%>

 <div class="full">

    

      <div class="banner">

           <div class="container">

              <div id="owl-demo" class="owl-carousel">

                

                <div class="item">

                	<img src="<%=resultados.images[1].url%>" title="Nome do banner">

                	<section>

                      
                        <span><%=resultados.title%></span>

                      

                    </section>

                </div>

                

                <!--quando for video---->

                <div class="item">

                    <iframe width="100%" height="600" src="<%=resultados.trailers[0].embeddedUrl%>?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

                </div>

                 

            

             

              </div><!--owl demo-->

           </div><!--container-->  

           

            <div class="thumbcine"><img src="<%=resultados.images[1].url%>" class="img"></div>  

        </div> <!--banner-->

   

  <article id="conteudo" class="pad">

  	<a href="/cinema" class="back"><span class="seta-esquerda"></span> Voltar para cinema</a>

    

    <div class="titcine">

    	<h1><%=resultados.title%></h1>

    	<p><span><%=resultados.contentRating%> </span> 2017 &bull; 
		<%
		resultados.genres.forEach(function(item) { 
		%>
		<%=item%>
		<%
		});
		%>
		<%=resultados.duration%> m</p>

    </div>

    

    

    <section id="sobrecine">

    	 <h2>Sinopse</h2>

            <%=resultados.synopsis%>

            

    </section>

  

    <section class="locationcine">

      <h2> Horário</h2>

        

     

           	 

          	<div class="hora">

            	

                  <input type = "radio" id = "tab1" name = "tabs" checked>

                  <label for = "tab1">Hoje <span><%=datas[0].data%></span></label>

                  

                  <input type = "radio" id = "tab2" name = "tabs">

                  <label for = "tab2"><div><%=datas[1].dia%><span><%=datas[1].data%></span></div></label>

                  

                  <input type = "radio" id = "tab3" name = "tabs">

                  <label for = "tab3"><%=datas[2].dia%><span><%=datas[2].data%></span></label>

                  

                  <input type = "radio" id = "tab4" name = "tabs">

                  <label for = "tab4"><%=datas[3].dia%><span><%=datas[3].data%></span></label>

                  

                  <input type = "radio" id = "tab5" name = "tabs">

                  <label for = "tab5"><%=datas[4].dia%><span><%=datas[4].data%></span></label>

                  

                  <input type = "radio" id = "tab6" name = "tabs">

                  <label for = "tab6"><%=datas[5].dia%><span><%=datas[5].data%></span></label>

                  

                  <input type = "radio" id = "tab7" name = "tabs">

                  <label for = "tab7"><%=datas[6].dia%><span><%=datas[6].data%></span></label>

                  

                  <input type = "radio" id = "tab8" name = "tabs">

                  <label for = "tab8"><%=datas[7].dia%><span><%=datas[7].data%></span></label>



				

                     

                      <div id="cine1">

                       

                        <% 
						if (sessoes[0]){
						sessoes[0].rooms.forEach(function(resultado) { 
						%>
							<a href="" class="cine" target="_blank">
                        	<p><%=resultado.name%></p>
							<%
							if (resultado.sessions){
							resultado.sessions.forEach(function(resultado2) { 
							%>	
                            <span><%=resultado2.date.hour%></span>
							<%
							});
							}
							%>
                            <div class="linecine"></div>

							</a>
						<%
						});
						}
						%>
                       

                       	

                           

                      </div>

                 

                 

                     

                     <div id="cine2">

                        <% 
						if (sessoes[1]){
						sessoes[1].rooms.forEach(function(resultado) { 
						%>
							<a href="" class="cine" target="_blank">
                        	<p><%=resultado.name%></p>
							<%
							if (resultado.sessions){
							resultado.sessions.forEach(function(resultado2) { 
							%>	
                            <span><%=resultado2.date.hour%></span>
							<%
							});
							}
							%>
                            <div class="linecine"></div>

							</a>
						<%
						});
						}
						%>

                      </div>

                      

                                  

                      <div id="cine3">

                    	<% 
						if (sessoes[2]){
						sessoes[2].rooms.forEach(function(resultado) { 
						%>
							<a href="" class="cine" target="_blank">
                        	<p><%=resultado.name%></p>
							<%
							if (resultado.sessions){
							resultado.sessions.forEach(function(resultado2) { 
							%>	
                            <span><%=resultado2.date.hour%></span>
							<%
							});
							}
							%>
                            <div class="linecine"></div>

							</a>
						<%
						});
						}
						%>

                      </div>

                      

                     

                     <div id="cine4">

                     
						<% 
						if (sessoes[3]){
						sessoes[3].rooms.forEach(function(resultado) { 
						%>
							<a href="" class="cine" target="_blank">
                        	<p><%=resultado.name%></p>
							<%
							if (resultado.sessions){
							resultado.sessions.forEach(function(resultado2) { 
							%>	
                            <span><%=resultado2.date.hour%></span>
							<%
							});
							}
							%>
                            <div class="linecine"></div>

							</a>
						<%
						});
						}
						%>

                       

                     </div>

                     

                     <div id="cine5">

                     

                        	<% 
						if (sessoes[4]){
						sessoes[4].rooms.forEach(function(resultado) { 
						%>
							<a href="" class="cine" target="_blank">
                        	<p><%=resultado.name%></p>
							<%
							if (resultado.sessions){
							resultado.sessions.forEach(function(resultado2) { 
							%>	
                            <span><%=resultado2.date.hour%></span>
							<%
							});
							}
							%>
                            <div class="linecine"></div>

							</a>
						<%
						});
						}
						%>

                       

                     </div>

                     

                     <div id="cine6">

                     

                       	<% 
						if (sessoes[5]){
						sessoes[5].rooms.forEach(function(resultado) { 
						%>
							<a href="" class="cine" target="_blank">
                        	<p><%=resultado.name%></p>
							<%
							if (resultado.sessions){
							resultado.sessions.forEach(function(resultado2) { 
							%>	
                            <span><%=resultado2.date.hour%></span>
							<%
							});
							}
							%>
                            <div class="linecine"></div>

							</a>
						<%
						});
						}
						%>

                       

                     </div>

                     

                     <div id="cine7">

                     

                        <% 
						if (sessoes[6]){
						sessoes[6].rooms.forEach(function(resultado) { 
						%>
							<a href="" class="cine" target="_blank">
                        	<p><%=resultado.name%></p>
							<%
							if (resultado.sessions){
							resultado.sessions.forEach(function(resultado2) { 
							%>	
                            <span><%=resultado2.date.hour%></span>
							<%
							});
							}
							%>
                            <div class="linecine"></div>

							</a>
						<%
						});
						}
						%>

                       

                     </div>

                     

                     <div id="cine8">

                     
						<% 
						if (sessoes[7]){
						sessoes[7].rooms.forEach(function(resultado) { 
						%>
							<a href="" class="cine" target="_blank">
                        	<p><%=resultado.name%></p>
							<%
							if (resultado.sessions){
							resultado.sessions.forEach(function(resultado2) { 
							%>	
                            <span><%=resultado2.date.hour%></span>
							<%
							});
							}
							%>
                            <div class="linecine"></div>

							</a>
						<%
						});
						}
						%>

                       

                     </div>

				

          

          	</div><!--config-->

            

    

     

        

    </section>

  

  </article> 

   

  

   <div id="more">

    

   		<h3 class="titles">

       		<span class="twhite" style="left: 20%">Em Cartaz</span>

        </h3>

        

        <div class="clear"></div><br><br>

        
		<% 
		if (em_cartaz.length>0){
		em_cartaz.forEach(function(resultado) { 
		%>
		 <a href="/cinema/filme/<%=resultado.url_title%>" class="filmes">
			<img src="<%=resultado.images[0].url%>"  title="<%=resultado.title%>" class="img"> 
			<div class="fline"></div>
			<p><%=resultado.title%></p>
		</a>
		<%
		});
		}
		%>
     

       <div class="clear"></div><br><br>

       <a href="" class="botao">Carregar mais</a>

               

    <div class="clear"></div>

    </div><!--MORE-->

  

  

    

 </div><!--full-->



<!------------------Fim produtos---------------------->
