<% layout("../layout/index") -%>
<% block("title", "ON Market Place | Cinema | " + nome_do_shopping_barra_titulo); -%>
 <div class="full">
    
         <div class="banner">
           <div class="container">
              <div id="owl-demo" class="owl-carousel">
                
				<% 
				if (banners.length>0){
				banners.forEach(function(resultado) { 
				%>
                <div class="item">
                	<img src="<%=resultado.images[1].url%>" title="<%=resultado.title%>">
                	<section>
                        <span>20 de agosto</span>
                        <span><%=resultado.title%></span>
                        <span><%=nome_shopping(resultado.mall)%></span>
                    </section>
                </div>
				<%
				});
				}
				%>
                
              </div><!--owl demo-->
           </div><!--container-->    
        </div> <!--banner-->
   
   <div class="filtro fgrey" id="cinefilter">
   	<form method="POST" action="" class="cinefilter"  autocomplete="off">
    	<div>
        	<label>Data</label> 
            <input type="text" name="data" id="data" value="" placeholder="__/__/____" maxlength="10">            
        </div>
        <div>
        	<label>Nome do filme</label> 
            <input type="text" name="filme" value="" placeholder="" maxlength="50">            
        </div>
                 <div>
        	<label>Categoria</label>
            <select name="categoria" class="minimal">
            	<option value="">Todas</option>
				<% 
				if (categorias.length>0){
				categorias.forEach(function(resultado) { 
				%>
                <option value="<%=resultado%>"><%=resultado%></option>
				<%
				});
				}
				%>
            </select>
        </div>
        
        <div>
       	<button type="submit">Perto de você
        <img src="imagens/location.png" width="25" height="34">
        </button>
		<input type="hidden" name="_csrf" value="<%= csrfToken %>">	
      </div>
      
    </form>
   </div>  <!--filtro-->   
	<div id="movies">
		
		<% 
		if (resultados.length>0){
		resultados.forEach(function(resultado) { 
		%>
		 <a href="/cinema/filme/<%=resultado.urlKey%>" class="filmes">
			<img src="<%=resultado.images[0].url%>"  title="<%=resultado.title%>" width=200> 
			<div class="fline"></div>
			<p><%=resultado.title%></p>
		</a>
		<%
		});
		}
		%>
		
	 </div><!--moveis-->  

 </div><!--full-->

<script type="text/javascript">
$(document).ready(function(){
	$("#data").mask("99/99/9999");
});
</script>

<!------------------Fim produtos---------------------->