<% layout("../layout/index") -%>
<% block("title", "ON Market Place | Eventos |" + nome_do_shopping_barra_titulo + " | " + resultados.name); -%>


<div class="full">
    
      <aside class="bannerint">
        	<img src="/imagens/banner-eventos.png" class="img" title="Eventos On Stores">
			<!--<img src="#" class="img" title="<%=resultados.nome%>">-->
            <section>Eventos</section>
        </aside> <!--banner-->
   
  <article id="conteudo" class="pad">
  	<a href="/eventos" class="back"><span class="seta-esquerda"></span> Voltar para eventos</a>
    
    <div class="titevents">
    	<h1><%=resultados.nome%></h1>
		<%
		if (resultados.data_inicial !=""){
		%>
    	<p>Início <span><%=moment(resultados.data_inicial).format( 'DD-MM-YYYY')%> </span> </p> 
		<%
		}
		%>
		<%
		if (resultados.data_final !=""){
		%>
		<p> Término <span><%=moment(resultados.data_final).format( 'DD-MM-YYYY')%></span></p>
		<%
		}
		%>
    </div>
    
    <div class="clear"></div><br><br>
    
    <section id="sobrecine">
   		<h2>Descrição do Eventos</h2>
        <%=resultados.descricao_resumida%>
            
    </section>
  
    <section class="locationevent">
      <!--<h2> Horários</h2>-->
        
     
           	<!---------------EVENTOS DOS SHOPPINGS SHOPPING---------> 
          	<div class="event">
              	
              <table border="0" cellpadding="0" cellspacing="0" class="evn">
              <tr>
                <th>Dia</th>
                <th>Data</th>
                <th>Horário</th>
              </tr>
              <tr>
                <td>Sexta</td>
                <td>23/08/2017</td>
                <td>R$ 150,00</td>
              </tr>
              <tr>
                <td>Sexta</td>
                <td>23/08/2017</td>
                <td>R$ 150,00</td>
              </tr>
              <tr>
               <td>Sexta</td>
                <td>23/08/2017</td>
                <td>R$ 150,00</td>
              </tr>
               <tr>
                <td>Sexta</td>
                <td>23/08/2017</td>
                <td>R$ 150,00</td>
              </tr>
               <tr>
                <td>Sexta</td>
                <td>23/08/2017</td>
                <td>R$ 150,00</td>
              </tr>
			</table>    
			
           <%-resultados.descricao_detalhada%>
          	</div><!--event-->
            
			<div class="clear"></div><br><br><br>


        
    </section>
  
  </article> 
   
  
   <div id="more">
    
   		<h3 class="titles" style="width:400px">
       		<span class="twhite" style="left: 12%">Eventos Similares</span>
        </h3>
        
        <div class="clear"></div><br><br>
        

		
			<% 
			if (outros.length>0){
			var contador = 0;
			outros.forEach(function(resultado) { 
			if (resultado.url_title != resultados.url_title){
			contador++;
			%>
			<a href="/eventos/evento/<%=resultado.url_title%>" class="eventos">
				<img src="<%=resultado.imagem%>"  class="img"  title="<%=resultado.nome%>"> 
				<div class="eline"></div>
				<p><%=resultado.nome%></p>		
			</a>
			<% 
			}
			}); 
			}
			if (contador ==0){
			%>
			<p>Não existem outros eventos</p>
			<% 
			}
			%>
	
        
       <div class="clear"></div><br><br>
      <!-- <a href="" class="botao">Carregar mais</a>-->
               
    <div class="clear"></div>
    </div><!--MORE-->
  
  
    
 </div><!--full-->