<% layout("../layout/index") -%>
<% block("title", "ON Market Place | Eventos | " + nome_do_shopping_barra_titulo); -%>

<div class="full">
    
    <aside class="bannerint">
        <img src="/imagens/bannerevent.jpg" width="1366" height="285" title="Loja online">
        <section>Eventos</section>
    </aside> <!--banner-->
  

       
 <!------------------Lojas---------------------->  

   <div id="events">   
   	
		<% 
		if (resultados.length>0){
		resultados.forEach(function(resultado) { 
		%>
    	<a href="/eventos/evento/<%=resultado.url_title%>" class="eventos">

            <img src="<%=caminho_imagem(resultado.mall)%><%=resultado.media.images.main%>" width="385" height="265" title="<%=resultado.info.title%>"> 

            <div class="eline"></div>

            <p><%=resultado.info.title%><br>
			
			
            R$ ????</p>

        </a>
		<% 
		}); 
		}
		%>
           
   </div><!--events--> 
   
 </div><!--full-->
