<% layout("../layout/index") -%>
<% block("title", "ON Market Place | Eventos | " + nome_do_shopping_barra_titulo); -%>

<div class="full">
    
    <aside class="bannerint">
        <img src="/imagens/banner-eventos.png" class="img" title="Eventos On Stores">
        <section>Eventos</section>
    </aside> <!--banner-->
  

       
 <!------------------Lojas---------------------->  

   <div id="events">  
   
			<% 
			if (resultados.length>0){
			resultados.forEach(function(resultado) { 
			%>
			<a href="/eventos/evento/<%=resultado.url_title%>" class="eventos">
				<img src="<%=resultado.imagem%>"  class="img"  title="<%=resultado.nome%>"> 
				<div class="eline"></div>
				<p><%=resultado.nome%></p>		
			</a>
			<% 
			}); 
			} else {
			%>
			<h3>Aguarde, temos novidades por vir!</h3>
			<%
			}
			%>		
	       
   </div><!--events--> 
   
 </div><!--full-->
 
<script type="text/javascript">

 function favoritar_evento(evento, event){
	event.preventDefault();
	$.ajax({
	  type: 'POST',
	  url: '/eventos/favoritar/',
	  dataType : 'json',
	  data: { 
		'evento': evento, 
		'_csrf': '<%= csrfToken %>'
	  },
	  success: function (response) {
		alert('Evento selecionado com sucesso!');
		return false;
	  },
	  error: function () {
		//
	  }
   });
}
	
function remover_evento(evento, event){
	event.preventDefault();
	$.ajax({
	  type: 'POST',
	  url: '/eventos/desfavoritar/',
	  dataType : 'json',
	  data: { 
		'evento': evento, 
		'_csrf': '<%= csrfToken %>'
	  },
	  success: function (response) {
		$("#lk" +  evento).remove();
		alert('Evento removido com sucesso!');
	  },
	  error: function () {
		//
	  }
   });
}	

 
</script> 
