<link rel="stylesheet" type="text/css" href="source/jquery.fancybox.css" media="screen" />


	<header>

    	<div class="full">

        	<div id="on"><a href="/"><img src="/imagens/on-stores.png" class="img" title="ON Stores"></a></div>

            <div id="ccp"><a href=""><img src="/imagens/CCP.png" class="img" title="CCP - Cirella"></a></div>

			<nav id="menu">

					<%
					if (shopping == ''){
				    %>
						<ul class="dropdown"> 					
					<%
					} 
					else
					{
					%>					
						<ul class="dropshp"> 
					<%
				    }
				    %>
				   
				    <%
					if (shopping != ''){
				    %>				  
				   <!------- Mostrar no shopping---->
                   <li id="shp"><a href=""><img src="/imagens/shopping-cidadesp.png" width="90" height="69" title="Shopping Cidade São Paulo"></a></li>
				   <%
				   }
				   %>

				   <%
				   if (shopping == ''){
				   %>
				   <!------- Mostrar na visão geral---->
                   <li><a>SHOPPINGS <span class="seta-baixo"></span></a>
                        <ul class="submenu">
							<% 
							if (shoppings.length>0){
							shoppings.forEach(function(resultado) { %>
                            <li><a href="/home/<%=resultado.url_title%>"><%=resultado.title%></a></li>
							<% 
							}); 
							}
							%>
                            
                        </ul>
                    </li>
					<%
					}
					%>

                    <li><a href="/lojas/online">LOJA ON LINE</a></li>
                    <li><a href="/lojas">LOJAS</a></li>
                    <li><a href="/cupons">CUPONS</a> </li>

                     
					<%
					if (shopping != ''){
				    %>
						<li><a>ACONTECE <span class="seta-baixo"></span></a>
							<ul class="submenu">
								<li><a href="/eventos">Eventos</a></li>
								<li><a href="/promocoes">Promoções do Shopping</a></li>
							 </ul>
						</li>
						<li><a>LAZER <span class="seta-baixo"></span></a>
							<ul class="submenu">
								<li><a href="/cinema">CINEMA</a> </li>
							 </ul>
						</li>
                    <%
					}
					%>
					
                    
					
					<%
				    if (shopping == ''){
				    %>
                    <!---MOSTRAR SOMENTE NO SITE GERAL ---->
                    <li><a href="/cinema">CINEMA</a> </li>        
                    <li><a href="/eventos">EVENTOS</a> </li>
                    <%
					}
					%>
					
					<%
				    if (shopping != ''){
				    %>
                    <!---MOSTRAR SOMENTE QUANDO TIVER NO SHOPPING ---->
					<li><a href="/servicos">SERVIÇOS</a> </li>
                    <%
					}
					%>

                </ul>

       		
				
                
                <div class="log">
                    <a href="" class="lupa" id="lupa"><img src="/imagens/lupa.png" width="25" height="25" title="Busca"></a>
				<%
				if(usuario != '') {
				%>                   
				   <!--Mostrar logado-->
				   <a class="bt fancybox fancybox.iframe" id="btn_carrinho" href="/carrinho"><img src="/imagens/bag.png" width="20" height="20" title="Sacola"> <%=total_carrinho%></a>
				<%
				} else {
				%>
                  <!----mostrar deslogado----->
                  <a class="bt fancybox fancybox.iframe" id="btn_login" href="/login">Quero entrar </a>
				<%
				}
				%>
                    

				<%
				if(usuario != '') {
				%>
                  <!----mostrar logado----->

                  <div class="bt" id="conta">

               		  <div class="icon"><%=letras%></div>

                           Minha conta <span class="seta-baixo2"></span>                       

                    </div><!--conta-->                    

                    

                       <div id="conta2" class="conta2">

                            <ul class="conta"> 

                                <li><a href="/compras">Minhas Compras</a></li>
                                <li><a href="/favoritos">Meus Favoritos</a></li>
                                <li><a href="/configuracoes">Configurações</a></li>
                                <li><a href="/logout">Sair</a></li>   

                            </ul>

                        </div>

                  

       			</div><!--log--> 
				<%
				} 
				%>
                

               

                               

          </nav>

          

      <div id="busca">

            <a href="" id="lupa" class="fechar">X</a>

                <form action="" autocomplete="off">

                	<input type="text" id="campobusca" value="" placeholder=" buscar aqui">
					<input type="hidden" name="_csrf" value="<%= csrfToken %>">	
                </form>

              

              <div id="result">

               </div>  <!--result-->
				<div class="clear"></div>
                

	</div><!--busca-->

          

           <div class="clear"></div>

          </div><!--full-->	
	
 </header>