<% layout("../layout/index") -%>
<% block("title", "ON Market Place | Loja On line | " + teste.produto); -%>
<style type="text/css">
.adicionar_sacola {	background-color: #9966CC; padding:10px 120px;   margin-top:5%; float:right; color:#fff; border:none; 	font-size: 18px;  height:60px;	font-style: italic; 	font-weight: bold; 	font-family: Lora;}
.borderClass{
  border-color: #C1E0FF;
  border-width:2px;
  border-style: solid;
}
</style>
 <div class="full">
    
  <article id="conteudo">
  	
  
  
    <!--------------------Galeria------------------------>
    <section class="detail">
       
        <div id="foto">
        	<div class="fleft">
                <%
				for (i = 0; i < teste.imagens.length; i++) { 
				%>
                <a class="buttons"><img src="<%=teste.imagens[i]%>" class="img" id="foto<%=i%>"></a>
				<%
				}
				%>
            </div>
            <div class="fright">
            	<%
				for (i = 0; i < teste.imagens.length; i++) { 
				%>
            	<div class="galery foto<%=i%>"><img src="<%=teste.imagens[i]%>" class="img"></div>
				<%
				}
				%>
            </div><!--fright-->
        </div><!--foto-->
    
 <!-----------infos cores, tamanho, shopping--------->
    <div id="info">
       <!--	<div class="compartilha"><img src="/imagens/compartilha.png" width="30" height="30"></div>--> 
        <p><%=teste.loja%></p> 
        <p><img src="/imagens/loc.png" width="15" heigh="20"><%=teste.shopping%></p>
        <h1><%=teste.produto%>
        <div class="pline"></div>
        </h1>   
        <div class="preco">
			<%
			if (teste.de == teste.por) {
			%>
			<span class="por">R$ <span id="preco_por"><%=teste.por%></span></span>
			<%
			} else {
			%>
           <span class="de">De: R$ <span id="preco_de"><%=teste.de%></span></span>
           <span class="por">Por: <span id="preco_por"><%=teste.por%></span></span>
		   <%
		   }
		   %>
         </div> 
         
		 <%
 		 if (cores.length > 0) { 
 		 %>
         <div class="cor">
         	<span>Cor</span>
            <%
 			for (i = 0; i < cores.length; i++) { 
 			%>
             <a href="" class="colorBtn" data-cor="<%=tamanhos[i].cor%>" style="background:<%=cores[i].cor%>">&nbsp;</a>
 			<%
 			}
 			%>
         </div> 
       	<%
 		}
 		%>
		
		<%
 		if (tamanhos.length > 0) { 
 		%>
         <div class="tamanho">
         	<span>Tamanho</span>
           <%
 			for (i = 0; i < tamanhos.length; i++) { 
 			%>
             <a href="" class="tamanhoBtn" data-produto="<%=tamanhos[i].slug%>" data-cor="<%=tamanhos[i].cor%>" data-tamanho="<%=tamanhos[i].tamanho%>" style="display:none"><%=tamanhos[i].tamanho%></a> 
 			<%
 			}
 			%>
			<div id="aviso_tamanho" style="display:none">Por favor selecione a cor desejada</div>
         </div> 
		<%
 		}
 		%>
         <div class="qtd">
            <span>Quantidade</span>
            <a href="" id="minus">-</a>
            <input type="text" name="quantidade" id="quantidade" value="1" maxlength="2" readonly=readonly>
            <a href="" id="plus">+</a>
         </div> 
     
		 <a href="/carrinho/add/<%=teste.url_title%>/1" class="adicionar_sacola">Adicionar a sacola</a>
	
   </div><!--info-->

	
    </section> 
    
   
    
     <!---Descrição---->
     
     <section id="descricao">
     
     
     	<h2>Descrição do Produto</h2>
        <p><%=teste.descricao%></p>
       
       
       </section>
       
        
        <div class="aviso">
        	<h3>Importante</h3>
            <p>Lembre-se que após a compra, você deverá retirar os itens adquiridos diretamente na loja do shopping. Seu pedido estará disponível para retirada em 1 hora após a confirmação de seu pagamento.</p>
            <a href="http://ajuda.adlib.com.br" target="_blank">Dúvidas</a>
            <a href="http://ajuda.adlib.com.br" target="_blank">Trocas</a>
            <a href="/contato" class="fancybox">Contato</a>
        
        </div><!--aviso-->
        

    
    <div id="more">
		<h3 class="titles">
       		<span class="twhite" style="left: 13%;">Veja também</span>
        </h3>
		<div class="clear"></div><br><br>
		<% 
		if (relacionados.length>0){
			relacionados.forEach(function(resultado) { 
			if (resultado.url_title != teste.url_title){
		%> 
		
		
        

        <a href="/produtos/<%=resultado.url_title%>" class="prods">
			
            <section>
				<div class="favs">
				<%
				if (parseInt(resultado.desconto)>0){
				%>
            	<span> <%=resultado.desconto%> %</span>
				<%
				}
				if(usuario != '') {
				%> 
                <button type="button" value="" id="" onclick="favoritar_produto('<%=resultado.url_title%>', event)"></button>
				<%
				}
				%>
				</div>
                <img src="<%=resultado.imagem%>" title="<%=resultado.produto%>" class="img">
                <h2><%=resultado.loja%></h2>
                <div class="shop"><%=resultado.shopping%></div>
                <h3><%=resultado.produto%></h3>
                <div class="valor">
					<%
					if (resultado.de == resultado.por) {
					%>
					<span>R$ <%=resultado.por%></span>
					<%
					} else {
					%>
                    <span>De R$ <%=resultado.de%></span>
                    <span>Por <%=resultado.de%></span>
					<%
					}
					%>
                </div>
           </section>  
  		 </a> 
		 
	   <% 
			}
	   }); 
	   }
	   %>	 
        
    </div><!--more-->

  </article> <!--foto-->

 </div><!--full-->
 <script src="/js/colorpicker/eight-bit-color-picker.js"></script>
<script type="text/javascript">
	var estoque = <%=teste.estoque%>;
	$(function(){
		
		$("#plus").click(function(event) {
		   event.preventDefault();
		   if ((parseInt($("#quantidade").val())+1) <= parseInt(estoque)){
			$('#quantidade').val(parseInt($("#quantidade").val())+1);	
		   }
		   $('#btn_sacola').attr('href', '/carrinho/add/<%=teste.url_title%>/' + $('#quantidade').val());
		});
		
		$("#minus").click(function(event) {
		   event.preventDefault();
		   if (parseInt($("#quantidade").val()) > 1){
				$('#quantidade').val(parseInt($("#quantidade").val())-1);	
		   }
		   $('#btn_sacola').attr('href', '/carrinho/add/<%=teste.url_title%>/' + $('#quantidade').val());
		});
		
		$(".colorBtn").click(function(event) {
			event.preventDefault();
			$('#aviso_tamanho').hide();
			var selected = $(this).attr("data-cor");
			$('.tamanhoBtn').hide();
			$('.tamanhoBtn[data-cor=' + selected + ']').show();
			$(".colorBtn").removeClass('borderClass');
			$(this).addClass('borderClass'); 
			if ($('.tamanhoBtn[data-cor=' + selected + ']').length==1){
				$('.tamanhoBtn[data-cor=' + selected + ']').click();
			}
			
		});
		$(".tamanhoBtn").click(function(event) {
			event.preventDefault();
			$('.tamanhoBtn').css("background-color", "black");
			$(this).css("background-color", "red");
			$('#btn_sacola').attr('href', '/carrinho/add/' + $(this).attr("data-produto") + '/' + $('#quantidade').val());
			var objTamanho = <%-JSON.stringify(tamanhos)%>;
			atualizarImagens(objTamanho, $(this).attr("data-produto"));
		});
		
		<%
		if (teste.cor != null){
		%>
			$('.colorBtn[data-cor="<%=teste.cor%>"]').click();
		<%
			if (teste.tamanho != null){
				if (teste.tamanho != ''){
		%>	
				$('.tamanhoBtn[data-tamanho="<%=teste.tamanho%>"]').click();
		<%		
				}
			}
		}
		%>
		const colors = EightBitColorPicker.getDefaultPalette();
		$('.colorBtn').each(function(){
			$(this).css('background-color', colors[parseInt($(this).attr("data-cor"))]);
		});
		
	});
	
	function atualizarImagens(produtos, produto){
		var tmp1 = "";
		var tmp2 = "";
		var estoque_produto = 0;
		var preco_de = "";
		var preco_por = "";
		for (z = 0; z < produtos.length; z++) {
			var produto_selecionado = produtos[z];
			if (produto_selecionado.slug == produto){
				preco_de = produto_selecionado.de;
				preco_por = produto_selecionado.por;
				estoque_produto = produto_selecionado.estoque;
				for (i = 0; i < produto_selecionado.imagens.length; i++) { 
					tmp1 += '<a class="buttons"><img src="' + produto_selecionado.imagens[i] + '" class="img" id="foto' + i + '"></a>';
					tmp2 += '<div class="galery foto' + i + '"><img src="' + produto_selecionado.imagens[i] + '" class="img"></div>';
				}
			}
		}
		
		estoque = estoque_produto;
		$('#quantidade').val(1);
		$('#preco_de').html(preco_de);
		$('#preco_por').html(preco_por);
		$('#foto .fleft').html(tmp1);
		$('#foto .fright').html(tmp2);
		$('.galery:gt(0)').hide();	
		$('.buttons').on('click', function(e) {
		$('.galery').fadeOut(1);
			$('.' + $(e.target).attr('id') ).fadeIn(800);
		});
		
	}
</script>	

<script> (function (a, b, c, d, e, f, g) { a['CsdmObject'] = e; a[e] = a[e] || function () { (a[e].q = a[e].q || []).push(arguments) }, a[e].l = 1 * new Date(); f = b.createElement(c), g = b.getElementsByTagName(c)[0]; f.async = 1; f.src = d; g.parentNode.insertBefore(f, g) })(window, document, 'script', '//device.clearsale.com.br/m/cs.js', 'csdm'); 
csdm('app', '9d416234de'); 
csdm('mode', 'manual');
csdm('send', 'product','name=<%=teste.produto%>');
</script>
