<% layout("../layout/index") -%>
<% block("title", "ON Market Place | Loja On line | " + teste.produto); -%>
<style type="text/css">
.adicionar_sacola {	background-color: #9966CC; padding:10px 120px;   margin-top:5%; float:right; color:#fff; border:none; 	font-size: 18px;  height:60px;	font-style: italic; 	font-weight: bold; 	font-family: Lora;}

</style>
 <div class="full">
    
  <article id="conteudo">
  	
    <!--------------------Galeria------------------------>
    <section class="detail">
       
        <div id="foto">
        	<div class="fleft">
                <a class="buttons"><img src="/imagens/chapeu.jpg" class="img" id="foto1"></a>
                <a class="buttons"><img src="/imagens/chapeu2.jpg" class="img" id="foto2"></a>
                <a class="buttons"><img src="/imagens/chapeu3.jpg" class="img" id="foto3"></a>
                <a class="buttons"><img src="/imagens/chapeu4.jpg" class="img" id="foto4"></a>
            </div>
            <div class="fright">
            	<div class="galery foto1"><img src="/imagens/chapeu.jpg" class="img"></div>
                <div class="galery foto2"><img src="/imagens/chapeu2.jpg" class="img"></div>
                <div class="galery foto3"><img src="/imagens/chapeu3.jpg" class="img"></div>
                <div class="galery foto4"><img src="/imagens/chapeu4.jpg" class="img"></div>
            </div><!--fright-->
        </div><!--foto-->
         
    </section> 
    
    <!-----------infos cores, tamanho, shopping--------->
    <div id="info">
       	<div class="compartilha"><img src="/imagens/compartilha.png" width="30" height="30"></div> 
        <p><%=teste.loja%></p> 
        <p><%=teste.shopping%></p>
        <h1><%=teste.produto%>
        <div class="pline"></div>
        </h1>   
        
        <div class="preco">
			<%
			if (teste.de == teste.por) {
			%>
			<span>R$ <%=teste.por%></span>
			<%
			} else {
			%>
           <span>De: R$ <%=teste.de%></span>
           <span>Por: <%=teste.por%></span>
		   <%
		   }
		   %>
         </div> 
         
         <div class="cor">
         	<span>Cor</span>
            <a href="" style="background:#F90"></a>
            <a href="" style="background:#093"></a>
            <a href="" style="background:#FF0"></a>
            <a href="" style="background:#F60"></a>
         </div> 
         
         <div class="tamanho">
         	<span>Tamanho</span>
            <a href="">P</a>
            <a href="">M</a>
            <a href="">G</a>
            <a href="">GG</a>
         </div> 
   
         <div class="qtd">
            <span>Tamanho</span>
            <a href="">-</a>
            <input type="text" value="" maxlength="2">
            <a href="">+</a>
         </div> 
     
         <a id="btn_sacola" href="/carrinho/add/<%=teste.id%>" class="adicionar_sacola fancybox fancybox.iframe">Adicionar</a>
	
   </div><!--info-->
    
     <!---Descrição---->
     
     <section id="descricao">
     
     
     	<h2>Descrição do Produto</h2>
        <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>
       
       
       </section>
       
        
        <div class="aviso">
        	<h3>Importante</h3>
            <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. </p>
            <a href="#a-duvidas" class="fancybox">Dúvidas</a>
            <a href="#a-trocas" class="fancybox">Trocas</a>
            <a href="/contato" class="fancybox">Contato</a>
           
            <div id="a-duvidas" class="danger">
                <h3>Dúvidas</h3>
                <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. </p>            	
            </div>
            
            <div id="a-trocas" class="danger">
            	<h3>Trocas</h3>
            <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. </p>
            </div>
            
            <div id="a-contact"class="danger">
            	<h3>Contato</h3>
            <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. </p>
            </div>
            
        </div><!--aviso-->
        
        
        
    
    
    <div id="more">
   		<h3 class="titles">
       		<span class="twhite" style="left: 13%;">Veja também</span>
        </h3>
        <div class="clear"></div><br><br>
		
		
		<% 
		if (relacionados.length>0){
			relacionados.forEach(function(resultado) { 
			if (resultado.url_title != teste.url_title){
		%> 
		
        <a href="/produtos/<%=resultado.url_title%>" class="prods">
			
            <section>
				<%
				if(usuario != '') {
				%>  
                <div class="favs">
                    <span><%=resultado.desconto%>%</span>
                    <button value="" id=""></button>
                </div>
				<%
				}
				%>
                <img src="/imagens/<%=resultado.imagem%>" title="<%=resultado.produto%>" class="img">
                <h2>Arezzo</h2>
                <div class="shop"><%=resultado.shopping%></div>
                <h3><%=resultado.produto%></h3>
                <div class="valor">
					<%
					if (resultado.de == resultado.por) {
					%>
					<span>R$ <%=resultado.por%></span>
					<%
					} else {
					%>
                    <span>De R$ <%=resultado.de%></span>
                    <span>Por <%=resultado.de%></span>
					<%
					}
					%>
                </div>
           </section>  
  		 </a> 
		 
	   <% 
			}
	   }); 
	   }
	   %>	 
        
    </div><!--more-->
     
  </article> <!--foto-->

 </div><!--full-->

